@theme inline {
  --color-ds-bg-disabled: var(--bg-disabled);
  --color-ds-bg-page: var(--bg-page);
  --color-ds-bg-page-inverse: var(--bg-page-inverse);
  --color-ds-bg-scrim: var(--bg-scrim);
  --color-ds-bg-surface-high: var(--bg-surface-high);
  --color-ds-bg-surface-low: var(--bg-surface-low);
  --color-ds-bg-surface-lowest: var(--bg-surface-lowest);
  --color-ds-bg-surface-medium: var(--bg-surface-medium);
  ---ds-breakpoint-2xl: var(--breakpoint-2xl);
  ---ds-breakpoint-3xl: var(--breakpoint-3xl);
  ---ds-breakpoint-lg: var(--breakpoint-lg);
  ---ds-breakpoint-md: var(--breakpoint-md);
  ---ds-breakpoint-sm: var(--breakpoint-sm);
  ---ds-breakpoint-xl: var(--breakpoint-xl);
  --spacing-ds-components-card-component-body-padding: var(--components-card-component-body-padding);
  ---ds-components-splitter-component-split-bar-draggable-size: var(--components-splitter-component-split-bar-draggable-size);
  ---ds-components-splitter-component-split-bar-size: var(--components-splitter-component-split-bar-size);
  ---ds-components-tooltip-component-max-width: var(--components-tooltip-component-max-width);
  --color-ds-content-disabled: var(--content-disabled);
  --color-ds-content-helper: var(--content-helper);
  --color-ds-content-inverse: var(--content-inverse);
  --color-ds-content-main: var(--content-main);
  --color-ds-content-placeholder: var(--content-placeholder);
  --color-ds-content-subtitle: var(--content-subtitle);
  --color-ds-content-title: var(--content-title);
  ---ds-duration-base: var(--duration-base);
  ---ds-duration-instant: var(--duration-instant);
  ---ds-duration-quick: var(--duration-quick);
  ---ds-duration-slow: var(--duration-slow);
  ---ds-duration-slower: var(--duration-slower);
  ---ds-ease-accelerate: var(--ease-accelerate);
  ---ds-ease-decelerate: var(--ease-decelerate);
  ---ds-ease-emphasized: var(--ease-emphasized);
  ---ds-ease-standard: var(--ease-standard);
  --color-ds-feedback-error: var(--feedback-error);
  --color-ds-feedback-error-bg: var(--feedback-error-bg);
  --color-ds-feedback-error-bg-on: var(--feedback-error-bg-on);
  --color-ds-feedback-error-hover: var(--feedback-error-hover);
  --color-ds-feedback-error-on: var(--feedback-error-on);
  --color-ds-feedback-error-press: var(--feedback-error-press);
  --color-ds-feedback-info: var(--feedback-info);
  --color-ds-feedback-info-bg: var(--feedback-info-bg);
  --color-ds-feedback-info-bg-on: var(--feedback-info-bg-on);
  --color-ds-feedback-info-hover: var(--feedback-info-hover);
  --color-ds-feedback-info-on: var(--feedback-info-on);
  --color-ds-feedback-info-press: var(--feedback-info-press);
  --color-ds-feedback-on-info-bg: var(--feedback-on-info-bg);
  --color-ds-feedback-on-success-bg: var(--feedback-on-success-bg);
  --color-ds-feedback-on-warning-bg: var(--feedback-on-warning-bg);
  --color-ds-feedback-success: var(--feedback-success);
  --color-ds-feedback-success-bg: var(--feedback-success-bg);
  --color-ds-feedback-success-bg-on: var(--feedback-success-bg-on);
  --color-ds-feedback-success-hover: var(--feedback-success-hover);
  --color-ds-feedback-success-on: var(--feedback-success-on);
  --color-ds-feedback-success-press: var(--feedback-success-press);
  --color-ds-feedback-warning: var(--feedback-warning);
  --color-ds-feedback-warning-bg: var(--feedback-warning-bg);
  --color-ds-feedback-warning-bg-on: var(--feedback-warning-bg-on);
  --color-ds-feedback-warning-hover: var(--feedback-warning-hover);
  --color-ds-feedback-warning-on: var(--feedback-warning-on);
  --color-ds-feedback-warning-press: var(--feedback-warning-press);
  --color-ds-focus-ring: var(--focus-ring);
  --font-weight-ds-bold: var(--font-weight-bold);
  --font-weight-ds-medium: var(--font-weight-medium);
  --font-weight-ds-normal: var(--font-weight-normal);
  --font-weight-ds-semibold: var(--font-weight-semibold);
  --font-ds-font-font: var(--font-font);
  --color-ds-icon-disabled: var(--icon-disabled);
  --color-ds-icon-inverse: var(--icon-inverse);
  --color-ds-icon-main: var(--icon-main);
  --color-ds-icon-rating: var(--icon-rating);
  --color-ds-icon-subtle: var(--icon-subtle);
  --leading-ds-leading-16: var(--leading-16);
  --leading-ds-leading-18: var(--leading-18);
  --leading-ds-leading-20: var(--leading-20);
  --leading-ds-leading-22: var(--leading-22);
  --leading-ds-leading-24: var(--leading-24);
  --leading-ds-leading-28: var(--leading-28);
  --leading-ds-leading-30: var(--leading-30);
  --leading-ds-leading-32: var(--leading-32);
  --leading-ds-leading-36: var(--leading-36);
  --leading-ds-leading-40: var(--leading-40);
  --leading-ds-leading-48: var(--leading-48);
  --leading-ds-leading-6: var(--leading-6);
  ---ds-numbers-12: var(--numbers-12);
  ---ds-numbers-4: var(--numbers-4);
  --color-ds-outline-default: var(--outline-default);
  --color-ds-outline-disabled: var(--outline-disabled);
  --color-ds-outline-strong: var(--outline-strong);
  --color-ds-outline-weak: var(--outline-weak);
  --color-ds-primary: var(--primary);
  --color-ds-primary-container: var(--primary-container);
  --color-ds-primary-container-hover: var(--primary-container-hover);
  --color-ds-primary-container-on: var(--primary-container-on);
  --color-ds-primary-container-press: var(--primary-container-press);
  --color-ds-primary-disabled: var(--primary-disabled);
  --color-ds-primary-disabled-on: var(--primary-disabled-on);
  --color-ds-primary-hover: var(--primary-hover);
  --color-ds-primary-on: var(--primary-on);
  --color-ds-primary-press: var(--primary-press);
  --radius-ds-ds-2xl: var(--radius-2xl);
  --radius-ds-ds-3xl: var(--radius-3xl);
  --radius-ds-ds-4xl: var(--radius-4xl);
  --radius-ds-ds-5xl: var(--radius-5xl);
  --radius-ds-ds-6xl: var(--radius-6xl);
  --radius-ds-full: var(--radius-full);
  --radius-ds-lg: var(--radius-lg);
  --radius-ds-md: var(--radius-md);
  --radius-ds-none: var(--radius-none);
  --radius-ds-radius---2: var(--radius-radius---2);
  --radius-ds-radius-none: var(--radius-radius-none);
  --radius-ds-sm: var(--radius-sm);
  --radius-ds-xl: var(--radius-xl);
  --radius-ds-xs: var(--radius-xs);
  ---ds-ds-2xl-blur: var(--shadow-2xl-blur);
  ---ds-lg-blur: var(--shadow-lg-blur);
  ---ds-md-blur: var(--shadow-md-blur);
  ---ds-sm-blur: var(--shadow-sm-blur);
  ---ds-xl-blur: var(--shadow-xl-blur);
  ---ds-xs-blur: var(--shadow-xs-blur);
  --spacing-ds-ds-0: var(--spacing-0);
  --spacing-ds-ds-0-5: var(--spacing-0-5);
  --spacing-ds-ds-1: var(--spacing-1);
  --spacing-ds-ds-1-5: var(--spacing-1-5);
  --spacing-ds-ds-10: var(--spacing-10);
  --spacing-ds-ds-12: var(--spacing-12);
  --spacing-ds-ds-14: var(--spacing-14);
  --spacing-ds-ds-16: var(--spacing-16);
  --spacing-ds-ds-18: var(--spacing-18);
  --spacing-ds-ds-2: var(--spacing-2);
  --spacing-ds-ds-2-5: var(--spacing-2-5);
  --spacing-ds-ds-20: var(--spacing-20);
  --spacing-ds-ds-22: var(--spacing-22);
  --spacing-ds-ds-24: var(--spacing-24);
  --spacing-ds-ds-3: var(--spacing-3);
  --spacing-ds-ds-3-5: var(--spacing-3-5);
  --spacing-ds-ds-4: var(--spacing-4);
  --spacing-ds-ds-5: var(--spacing-5);
  --spacing-ds-ds-6: var(--spacing-6);
  --spacing-ds-ds-8: var(--spacing-8);
  --spacing-ds-spacing---2: var(--spacing-spacing---2);
  --spacing-ds-spacing---3: var(--spacing-spacing---3);
  --spacing-ds-primitives-spacing-spacing---3: var(--primitives-spacing-spacing---3);
  --spacing-ds-spacing---7: var(--spacing-spacing---7);
  --spacing-ds-primitives-spacing-spacing---7: var(--primitives-spacing-spacing---7);
  --spacing-ds-spacing-none: var(--spacing-spacing-none);
  --font-weight-ds-spacing-12: var(--spacing-spacing-12);
  --font-weight-ds-spacing-4: var(--spacing-spacing-4);
  --color-ds-static-black: var(--static-black);
  --color-ds-static-white: var(--static-white);
  --color-ds-tag-blue-bg: var(--tag-blue-bg);
  --color-ds-tag-blue-content: var(--tag-blue-content);
  --color-ds-tag-blue-outline: var(--tag-blue-outline);
  --color-ds-tag-cyan-bg: var(--tag-cyan-bg);
  --color-ds-tag-cyan-content: var(--tag-cyan-content);
  --color-ds-tag-cyan-outline: var(--tag-cyan-outline);
  --color-ds-tag-gold-bg: var(--tag-gold-bg);
  --color-ds-tag-gold-content: var(--tag-gold-content);
  --color-ds-tag-gold-outline: var(--tag-gold-outline);
  --color-ds-tag-gray-bg: var(--tag-gray-bg);
  --color-ds-tag-gray-content: var(--tag-gray-content);
  --color-ds-tag-gray-outline: var(--tag-gray-outline);
  --color-ds-tag-green-bg: var(--tag-green-bg);
  --color-ds-tag-green-content: var(--tag-green-content);
  --color-ds-tag-green-outline: var(--tag-green-outline);
  --color-ds-tag-magenta-bg: var(--tag-magenta-bg);
  --color-ds-tag-magenta-content: var(--tag-magenta-content);
  --color-ds-tag-magenta-outline: var(--tag-magenta-outline);
  --color-ds-tag-orange-bg: var(--tag-orange-bg);
  --color-ds-tag-orange-content: var(--tag-orange-content);
  --color-ds-tag-orange-outline: var(--tag-orange-outline);
  --color-ds-tag-pink-bg: var(--tag-pink-bg);
  --color-ds-tag-pink-content: var(--tag-pink-content);
  --color-ds-tag-pink-outline: var(--tag-pink-outline);
  --color-ds-tag-purple-bg: var(--tag-purple-bg);
  --color-ds-tag-purple-content: var(--tag-purple-content);
  --color-ds-tag-purple-outline: var(--tag-purple-outline);
  --color-ds-tag-red-bg: var(--tag-red-bg);
  --color-ds-tag-red-content: var(--tag-red-content);
  --color-ds-tag-red-outline: var(--tag-red-outline);
  --text-ds-text-2xl: var(--text-2xl);
  --text-ds-text-2xs: var(--text-2xs);
  --text-ds-text-3xl: var(--text-3xl);
  --text-ds-text-base: var(--text-base);
  --text-ds-text-lg: var(--text-lg);
  --text-ds-text-sm: var(--text-sm);
  --text-ds-text-xl: var(--text-xl);
  --text-ds-text-xs: var(--text-xs);
  --font-ds-font-family-font-family: var(--typography-font-family-font-family);
  --text-ds-font-size-font-size: var(--typography-font-size-font-size);
  --text-ds-line-height-line-height: var(--typography-line-height-line-height);
  ---ds-z-base: var(--z-base);
  ---ds-z-dropdown: var(--z-dropdown);
  ---ds-z-header: var(--z-header);
  ---ds-z-modal: var(--z-modal);
  ---ds-z-raised: var(--z-raised);
  ---ds-z-scrim: var(--z-scrim);
  ---ds-z-sticky: var(--z-sticky);
  ---ds-z-toast: var(--z-toast);
  ---ds-z-tooltip: var(--z-tooltip);
}
