@theme inline {
  --color-ds-base-black: var(--base-black);
  --color-ds-base-white: var(--base-white);
  --color-ds-bg-disabled: var(--bg-disabled);
  --color-ds-bg-page: var(--bg-page);
  --color-ds-bg-page-inverse: var(--bg-page-inverse);
  --color-ds-bg-scrim: var(--bg-scrim);
  --color-ds-bg-surface-high: var(--bg-surface-high);
  --color-ds-bg-surface-low: var(--bg-surface-low);
  --color-ds-bg-surface-lowest: var(--bg-surface-lowest);
  --color-ds-bg-surface-medium: var(--bg-surface-medium);
  --color-ds-blue-tag-100: var(--blue-tag-100);
  --color-ds-blue-tag-150: var(--blue-tag-150);
  --color-ds-blue-tag-200: var(--blue-tag-200);
  --color-ds-blue-tag-300: var(--blue-tag-300);
  --color-ds-blue-tag-400: var(--blue-tag-400);
  --color-ds-blue-tag-50: var(--blue-tag-50);
  --color-ds-blue-100: var(--blue-100);
  --color-ds-blue-200: var(--blue-200);
  --color-ds-blue-25: var(--blue-25);
  --color-ds-blue-300: var(--blue-300);
  --color-ds-blue-400: var(--blue-400);
  --color-ds-blue-50: var(--blue-50);
  --color-ds-blue-500: var(--blue-500);
  --color-ds-blue-600: var(--blue-600);
  --color-ds-blue-700: var(--blue-700);
  --color-ds-blue-800: var(--blue-800);
  --color-ds-blue-900: var(--blue-900);
  --color-ds-blue-950: var(--blue-950);
  --color-ds-brand-primary: var(--brand-primary);
  ---ds-breakpoint-2xl: var(--breakpoint-2xl);
  ---ds-breakpoint-3xl: var(--breakpoint-3xl);
  ---ds-breakpoint-lg: var(--breakpoint-lg);
  ---ds-breakpoint-md: var(--breakpoint-md);
  ---ds-breakpoint-sm: var(--breakpoint-sm);
  ---ds-breakpoint-xl: var(--breakpoint-xl);
  --color-ds-gray-300: var(--colors-gray-300);
  --color-ds-text-gray-hint: var(--colors-text-gray-hint);
  --spacing-ds-components-card-component-body-padding: var(--components-card-component-body-padding);
  ---ds-components-splitter-component-split-bar-draggable-size: var(--components-splitter-component-split-bar-draggable-size);
  ---ds-components-splitter-component-split-bar-size: var(--components-splitter-component-split-bar-size);
  ---ds-components-tooltip-component-max-width: var(--components-tooltip-component-max-width);
  --color-ds-content-disabled: var(--content-disabled);
  --color-ds-content-helper: var(--content-helper);
  --color-ds-content-inverse: var(--content-inverse);
  --color-ds-content-main: var(--content-main);
  --color-ds-content-placeholder: var(--content-placeholder);
  --color-ds-content-subtitle: var(--content-subtitle);
  --color-ds-content-title: var(--content-title);
  --color-ds-cyan-tag-100: var(--cyan-tag-100);
  --color-ds-cyan-tag-200: var(--cyan-tag-200);
  --color-ds-cyan-tag-300: var(--cyan-tag-300);
  --color-ds-cyan-tag-400: var(--cyan-tag-400);
  --color-ds-cyan-tag-50: var(--cyan-tag-50);
  ---ds-duration-base: var(--duration-base);
  ---ds-duration-instant: var(--duration-instant);
  ---ds-duration-quick: var(--duration-quick);
  ---ds-duration-slow: var(--duration-slow);
  ---ds-duration-slower: var(--duration-slower);
  ---ds-ease-accelerate: var(--ease-accelerate);
  ---ds-ease-decelerate: var(--ease-decelerate);
  ---ds-ease-emphasized: var(--ease-emphasized);
  ---ds-ease-standard: var(--ease-standard);
  --color-ds-feedback-error: var(--feedback-error);
  --color-ds-feedback-error-bg: var(--feedback-error-bg);
  --color-ds-feedback-error-bg-on: var(--feedback-error-bg-on);
  --color-ds-feedback-error-hover: var(--feedback-error-hover);
  --color-ds-feedback-error-on: var(--feedback-error-on);
  --color-ds-feedback-error-press: var(--feedback-error-press);
  --color-ds-feedback-info: var(--feedback-info);
  --color-ds-feedback-info-bg: var(--feedback-info-bg);
  --color-ds-feedback-info-bg-on: var(--feedback-info-bg-on);
  --color-ds-feedback-info-hover: var(--feedback-info-hover);
  --color-ds-feedback-info-on: var(--feedback-info-on);
  --color-ds-feedback-info-press: var(--feedback-info-press);
  --color-ds-feedback-on-info-bg: var(--feedback-on-info-bg);
  --color-ds-feedback-on-success-bg: var(--feedback-on-success-bg);
  --color-ds-feedback-on-warning-bg: var(--feedback-on-warning-bg);
  --color-ds-feedback-success: var(--feedback-success);
  --color-ds-feedback-success-bg: var(--feedback-success-bg);
  --color-ds-feedback-success-bg-on: var(--feedback-success-bg-on);
  --color-ds-feedback-success-hover: var(--feedback-success-hover);
  --color-ds-feedback-success-on: var(--feedback-success-on);
  --color-ds-feedback-success-press: var(--feedback-success-press);
  --color-ds-feedback-warning: var(--feedback-warning);
  --color-ds-feedback-warning-bg: var(--feedback-warning-bg);
  --color-ds-feedback-warning-bg-on: var(--feedback-warning-bg-on);
  --color-ds-feedback-warning-hover: var(--feedback-warning-hover);
  --color-ds-feedback-warning-on: var(--feedback-warning-on);
  --color-ds-feedback-warning-press: var(--feedback-warning-press);
  --color-ds-finance-100: var(--finance-100);
  --color-ds-finance-200: var(--finance-200);
  --color-ds-finance-300: var(--finance-300);
  --color-ds-finance-400: var(--finance-400);
  --color-ds-finance-50: var(--finance-50);
  --color-ds-finance-500: var(--finance-500);
  --color-ds-finance-600: var(--finance-600);
  --color-ds-finance-700: var(--finance-700);
  --color-ds-finance-800: var(--finance-800);
  --color-ds-finance-900: var(--finance-900);
  --color-ds-finance-950: var(--finance-950);
  --color-ds-focus-ring: var(--focus-ring);
  --font-weight-ds-bold: var(--font-weight-bold);
  --font-weight-ds-medium: var(--font-weight-medium);
  --font-weight-ds-normal: var(--font-weight-normal);
  --font-weight-ds-semibold: var(--font-weight-semibold);
  --font-ds-font-font: var(--font-font);
  --color-ds-gold-tag-100: var(--gold-tag-100);
  --color-ds-gold-tag-200: var(--gold-tag-200);
  --color-ds-gold-tag-300: var(--gold-tag-300);
  --color-ds-gold-tag-400: var(--gold-tag-400);
  --color-ds-gold-tag-50: var(--gold-tag-50);
  --color-ds-gray-100: var(--gray-100);
  --color-ds-gray-200: var(--gray-200);
  --color-ds-gray-25: var(--gray-25);
  --color-ds-gray-300: var(--gray-300);
  --color-ds-gray-400: var(--gray-400);
  --color-ds-gray-50: var(--gray-50);
  --color-ds-gray-500: var(--gray-500);
  --color-ds-gray-550: var(--gray-550);
  --color-ds-gray-575: var(--gray-575);
  --color-ds-gray-600: var(--gray-600);
  --color-ds-gray-700: var(--gray-700);
  --color-ds-gray-800: var(--gray-800);
  --color-ds-gray-900: var(--gray-900);
  --color-ds-gray-950: var(--gray-950);
  --color-ds-green-tag-100: var(--green-tag-100);
  --color-ds-green-tag-200: var(--green-tag-200);
  --color-ds-green-tag-300: var(--green-tag-300);
  --color-ds-green-tag-400: var(--green-tag-400);
  --color-ds-green-tag-50: var(--green-tag-50);
  --color-ds-green-100: var(--green-100);
  --color-ds-green-200: var(--green-200);
  --color-ds-green-25: var(--green-25);
  --color-ds-green-300: var(--green-300);
  --color-ds-green-400: var(--green-400);
  --color-ds-green-50: var(--green-50);
  --color-ds-green-500: var(--green-500);
  --color-ds-green-600: var(--green-600);
  --color-ds-green-700: var(--green-700);
  --color-ds-green-800: var(--green-800);
  --color-ds-green-900: var(--green-900);
  --color-ds-green-950: var(--green-950);
  --color-ds-hr-100: var(--hr-100);
  --color-ds-hr-200: var(--hr-200);
  --color-ds-hr-300: var(--hr-300);
  --color-ds-hr-400: var(--hr-400);
  --color-ds-hr-50: var(--hr-50);
  --color-ds-hr-500: var(--hr-500);
  --color-ds-hr-600: var(--hr-600);
  --color-ds-hr-700: var(--hr-700);
  --color-ds-hr-800: var(--hr-800);
  --color-ds-hr-900: var(--hr-900);
  --color-ds-hr-950: var(--hr-950);
  --color-ds-icon-disabled: var(--icon-disabled);
  --color-ds-icon-inverse: var(--icon-inverse);
  --color-ds-icon-main: var(--icon-main);
  --color-ds-icon-rating: var(--icon-rating);
  --color-ds-icon-subtle: var(--icon-subtle);
  --color-ds-inventory-100: var(--inventory-100);
  --color-ds-inventory-200: var(--inventory-200);
  --color-ds-inventory-300: var(--inventory-300);
  --color-ds-inventory-400: var(--inventory-400);
  --color-ds-inventory-50: var(--inventory-50);
  --color-ds-inventory-500: var(--inventory-500);
  --color-ds-inventory-600: var(--inventory-600);
  --color-ds-inventory-700: var(--inventory-700);
  --color-ds-inventory-800: var(--inventory-800);
  --color-ds-inventory-900: var(--inventory-900);
  --color-ds-inventory-950: var(--inventory-950);
  --leading-ds-leading-16: var(--leading-16);
  --leading-ds-leading-18: var(--leading-18);
  --leading-ds-leading-20: var(--leading-20);
  --leading-ds-leading-22: var(--leading-22);
  --leading-ds-leading-24: var(--leading-24);
  --leading-ds-leading-28: var(--leading-28);
  --leading-ds-leading-30: var(--leading-30);
  --leading-ds-leading-32: var(--leading-32);
  --leading-ds-leading-36: var(--leading-36);
  --leading-ds-leading-40: var(--leading-40);
  --leading-ds-leading-48: var(--leading-48);
  --leading-ds-leading-6: var(--leading-6);
  --color-ds-logistic-100: var(--logistic-100);
  --color-ds-logistic-200: var(--logistic-200);
  --color-ds-logistic-300: var(--logistic-300);
  --color-ds-logistic-400: var(--logistic-400);
  --color-ds-logistic-50: var(--logistic-50);
  --color-ds-logistic-500: var(--logistic-500);
  --color-ds-logistic-600: var(--logistic-600);
  --color-ds-logistic-700: var(--logistic-700);
  --color-ds-logistic-800: var(--logistic-800);
  --color-ds-logistic-900: var(--logistic-900);
  --color-ds-logistic-950: var(--logistic-950);
  --color-ds-magenta-tag-100: var(--magenta-tag-100);
  --color-ds-magenta-tag-200: var(--magenta-tag-200);
  --color-ds-magenta-tag-300: var(--magenta-tag-300);
  --color-ds-magenta-tag-400: var(--magenta-tag-400);
  --color-ds-magenta-tag-50: var(--magenta-tag-50);
  --color-ds-mrp-100: var(--mrp-100);
  --color-ds-mrp-200: var(--mrp-200);
  --color-ds-mrp-300: var(--mrp-300);
  --color-ds-mrp-400: var(--mrp-400);
  --color-ds-mrp-50: var(--mrp-50);
  --color-ds-mrp-500: var(--mrp-500);
  --color-ds-mrp-600: var(--mrp-600);
  --color-ds-mrp-700: var(--mrp-700);
  --color-ds-mrp-800: var(--mrp-800);
  --color-ds-mrp-900: var(--mrp-900);
  --color-ds-mrp-950: var(--mrp-950);
  ---ds-numbers-12: var(--numbers-12);
  ---ds-numbers-4: var(--numbers-4);
  --color-ds-orange-tag-100: var(--orange-tag-100);
  --color-ds-orange-tag-200: var(--orange-tag-200);
  --color-ds-orange-tag-300: var(--orange-tag-300);
  --color-ds-orange-tag-400: var(--orange-tag-400);
  --color-ds-orange-tag-50: var(--orange-tag-50);
  --color-ds-orange-100: var(--orange-100);
  --color-ds-orange-200: var(--orange-200);
  --color-ds-orange-25: var(--orange-25);
  --color-ds-orange-300: var(--orange-300);
  --color-ds-orange-400: var(--orange-400);
  --color-ds-orange-50: var(--orange-50);
  --color-ds-orange-500: var(--orange-500);
  --color-ds-orange-600: var(--orange-600);
  --color-ds-orange-700: var(--orange-700);
  --color-ds-orange-800: var(--orange-800);
  --color-ds-orange-900: var(--orange-900);
  --color-ds-orange-950: var(--orange-950);
  --color-ds-outline-default: var(--outline-default);
  --color-ds-outline-disabled: var(--outline-disabled);
  --color-ds-outline-strong: var(--outline-strong);
  --color-ds-outline-weak: var(--outline-weak);
  --color-ds-pink-tag-100: var(--pink-tag-100);
  --color-ds-pink-tag-200: var(--pink-tag-200);
  --color-ds-pink-tag-300: var(--pink-tag-300);
  --color-ds-pink-tag-400: var(--pink-tag-400);
  --color-ds-pink-tag-50: var(--pink-tag-50);
  --color-ds-primary: var(--primary);
  --color-ds-primary-container: var(--primary-container);
  --color-ds-primary-container-hover: var(--primary-container-hover);
  --color-ds-primary-container-on: var(--primary-container-on);
  --color-ds-primary-container-press: var(--primary-container-press);
  --color-ds-primary-disabled: var(--primary-disabled);
  --color-ds-primary-disabled-on: var(--primary-disabled-on);
  --color-ds-primary-hover: var(--primary-hover);
  --color-ds-primary-on: var(--primary-on);
  --color-ds-primary-press: var(--primary-press);
  --color-ds-purple-tag-100: var(--purple-tag-100);
  --color-ds-purple-tag-200: var(--purple-tag-200);
  --color-ds-purple-tag-300: var(--purple-tag-300);
  --color-ds-purple-tag-400: var(--purple-tag-400);
  --color-ds-purple-tag-50: var(--purple-tag-50);
  --radius-ds-ds-2xl: var(--radius-2xl);
  --radius-ds-ds-3xl: var(--radius-3xl);
  --radius-ds-ds-4xl: var(--radius-4xl);
  --radius-ds-ds-5xl: var(--radius-5xl);
  --radius-ds-ds-6xl: var(--radius-6xl);
  --radius-ds-full: var(--radius-full);
  --radius-ds-lg: var(--radius-lg);
  --radius-ds-md: var(--radius-md);
  --radius-ds-none: var(--radius-none);
  --radius-ds-radius---2: var(--radius-radius---2);
  --radius-ds-radius-none: var(--radius-radius-none);
  --radius-ds-sm: var(--radius-sm);
  --radius-ds-xl: var(--radius-xl);
  --radius-ds-xs: var(--radius-xs);
  --color-ds-red-tag-100: var(--red-tag-100);
  --color-ds-red-tag-200: var(--red-tag-200);
  --color-ds-red-tag-300: var(--red-tag-300);
  --color-ds-red-tag-400: var(--red-tag-400);
  --color-ds-red-tag-50: var(--red-tag-50);
  --color-ds-red-100: var(--red-100);
  --color-ds-red-200: var(--red-200);
  --color-ds-red-25: var(--red-25);
  --color-ds-red-300: var(--red-300);
  --color-ds-red-400: var(--red-400);
  --color-ds-red-50: var(--red-50);
  --color-ds-red-500: var(--red-500);
  --color-ds-red-600: var(--red-600);
  --color-ds-red-700: var(--red-700);
  --color-ds-red-800: var(--red-800);
  --color-ds-red-900: var(--red-900);
  --color-ds-red-950: var(--red-950);
  --color-ds-sale-100: var(--sale-100);
  --color-ds-sale-200: var(--sale-200);
  --color-ds-sale-300: var(--sale-300);
  --color-ds-sale-400: var(--sale-400);
  --color-ds-sale-50: var(--sale-50);
  --color-ds-sale-500: var(--sale-500);
  --color-ds-sale-600: var(--sale-600);
  --color-ds-sale-700: var(--sale-700);
  --color-ds-sale-800: var(--sale-800);
  --color-ds-sale-900: var(--sale-900);
  --color-ds-sale-950: var(--sale-950);
  ---ds-ds-2xl-blur: var(--shadow-2xl-blur);
  ---ds-lg-blur: var(--shadow-lg-blur);
  ---ds-md-blur: var(--shadow-md-blur);
  ---ds-sm-blur: var(--shadow-sm-blur);
  ---ds-xl-blur: var(--shadow-xl-blur);
  ---ds-xs-blur: var(--shadow-xs-blur);
  --color-ds-shoniz-100: var(--shoniz-100);
  --color-ds-shoniz-200: var(--shoniz-200);
  --color-ds-shoniz-300: var(--shoniz-300);
  --color-ds-shoniz-400: var(--shoniz-400);
  --color-ds-shoniz-50: var(--shoniz-50);
  --color-ds-shoniz-500: var(--shoniz-500);
  --color-ds-shoniz-600: var(--shoniz-600);
  --color-ds-shoniz-700: var(--shoniz-700);
  --color-ds-shoniz-800: var(--shoniz-800);
  --color-ds-shoniz-900: var(--shoniz-900);
  --color-ds-shoniz-950: var(--shoniz-950);
  --spacing-ds-ds-0: var(--spacing-0);
  --spacing-ds-ds-0-5: var(--spacing-0-5);
  --spacing-ds-ds-1: var(--spacing-1);
  --spacing-ds-ds-1-5: var(--spacing-1-5);
  --spacing-ds-ds-10: var(--spacing-10);
  --spacing-ds-ds-12: var(--spacing-12);
  --spacing-ds-ds-14: var(--spacing-14);
  --spacing-ds-ds-16: var(--spacing-16);
  --spacing-ds-ds-18: var(--spacing-18);
  --spacing-ds-ds-2: var(--spacing-2);
  --spacing-ds-ds-2-5: var(--spacing-2-5);
  --spacing-ds-ds-20: var(--spacing-20);
  --spacing-ds-ds-22: var(--spacing-22);
  --spacing-ds-ds-24: var(--spacing-24);
  --spacing-ds-ds-3: var(--spacing-3);
  --spacing-ds-ds-3-5: var(--spacing-3-5);
  --spacing-ds-ds-4: var(--spacing-4);
  --spacing-ds-ds-5: var(--spacing-5);
  --spacing-ds-ds-6: var(--spacing-6);
  --spacing-ds-ds-8: var(--spacing-8);
  --spacing-ds-spacing---2: var(--spacing-spacing---2);
  --spacing-ds-spacing---3: var(--spacing-spacing---3);
  --spacing-ds-primitives-spacing-spacing---3: var(--primitives-spacing-spacing---3);
  --spacing-ds-spacing---5: var(--spacing-spacing---5);
  --spacing-ds-spacing---7: var(--spacing-spacing---7);
  --spacing-ds-primitives-spacing-spacing---7: var(--primitives-spacing-spacing---7);
  --spacing-ds-spacing-none: var(--spacing-spacing-none);
  --font-weight-ds-spacing-12: var(--spacing-spacing-12);
  --font-weight-ds-spacing-4: var(--spacing-spacing-4);
  --color-ds-static-black: var(--static-black);
  --color-ds-static-white: var(--static-white);
  --color-ds-tag-blue-bg: var(--tag-blue-bg);
  --color-ds-tag-blue-content: var(--tag-blue-content);
  --color-ds-tag-blue-outline: var(--tag-blue-outline);
  --color-ds-tag-cyan-bg: var(--tag-cyan-bg);
  --color-ds-tag-cyan-content: var(--tag-cyan-content);
  --color-ds-tag-cyan-outline: var(--tag-cyan-outline);
  --color-ds-tag-gold-bg: var(--tag-gold-bg);
  --color-ds-tag-gold-content: var(--tag-gold-content);
  --color-ds-tag-gold-outline: var(--tag-gold-outline);
  --color-ds-tag-gray-bg: var(--tag-gray-bg);
  --color-ds-tag-gray-content: var(--tag-gray-content);
  --color-ds-tag-gray-outline: var(--tag-gray-outline);
  --color-ds-tag-green-bg: var(--tag-green-bg);
  --color-ds-tag-green-content: var(--tag-green-content);
  --color-ds-tag-green-outline: var(--tag-green-outline);
  --color-ds-tag-magenta-bg: var(--tag-magenta-bg);
  --color-ds-tag-magenta-content: var(--tag-magenta-content);
  --color-ds-tag-magenta-outline: var(--tag-magenta-outline);
  --color-ds-tag-orange-bg: var(--tag-orange-bg);
  --color-ds-tag-orange-content: var(--tag-orange-content);
  --color-ds-tag-orange-outline: var(--tag-orange-outline);
  --color-ds-tag-pink-bg: var(--tag-pink-bg);
  --color-ds-tag-pink-content: var(--tag-pink-content);
  --color-ds-tag-pink-outline: var(--tag-pink-outline);
  --color-ds-tag-purple-bg: var(--tag-purple-bg);
  --color-ds-tag-purple-content: var(--tag-purple-content);
  --color-ds-tag-purple-outline: var(--tag-purple-outline);
  --color-ds-tag-red-bg: var(--tag-red-bg);
  --color-ds-tag-red-content: var(--tag-red-content);
  --color-ds-tag-red-outline: var(--tag-red-outline);
  --text-ds-text-2xl: var(--text-2xl);
  --text-ds-text-2xs: var(--text-2xs);
  --text-ds-text-3xl: var(--text-3xl);
  --text-ds-text-base: var(--text-base);
  --text-ds-text-lg: var(--text-lg);
  --text-ds-text-sm: var(--text-sm);
  --text-ds-text-xl: var(--text-xl);
  --text-ds-text-xs: var(--text-xs);
  --font-ds-font-family-font-family: var(--typography-font-family-font-family);
  --text-ds-font-size-font-size: var(--typography-font-size-font-size);
  --text-ds-line-height-line-height: var(--typography-line-height-line-height);
  ---ds-z-base: var(--z-base);
  ---ds-z-dropdown: var(--z-dropdown);
  ---ds-z-header: var(--z-header);
  ---ds-z-modal: var(--z-modal);
  ---ds-z-raised: var(--z-raised);
  ---ds-z-scrim: var(--z-scrim);
  ---ds-z-sticky: var(--z-sticky);
  ---ds-z-toast: var(--z-toast);
  ---ds-z-tooltip: var(--z-tooltip);
}
