.attachment {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.attachment [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.5px;
  height: 14.9995px;
  width: 19.9995px;
}
