.badge-basic {
  align-items: center;
  background-color: var(--feedback-error);
  border-color: var(--bg-page);
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  min-width: 16px;
  overflow: hidden;
  padding-bottom: var(--spacing-spacing-4);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-spacing-4);
  width: fit-content;
}
.badge-basic [data-ds-part="0"] {
  color: var(--feedback-error-on);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.badge-basic[data-type="Dot"] {
  height: 8px;
  padding-bottom: var(--spacing-0-5);
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  padding-top: var(--spacing-0-5);
  width: 8px;
}
.badge-basic[data-type="Dot"] [data-ds-part="0"] {
  height: 2px;
  overflow: hidden;
  width: 2px;
}
