._calendar-cell {
  align-items: center;
  background-color: var(--bg-page);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2-5);
  height: 40px;
  justify-content: center;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  width: 40px;
}
._calendar-cell [data-ds-part="0"] {
  align-self: stretch;
  color: var(--content-main);
  font-family: var(--font-font);
  font-size: var(--text-base);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
._calendar-cell [data-ds-part="1"] {
  background-color: var(--primary);
  height: 4px;
  width: 4px;
}
._calendar-cell[data-type="Selected"] {
  background-color: var(--primary);
}
._calendar-cell[data-type="Selected"] [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-type="Selected"] [data-ds-part="1"] {
  background-color: var(--primary-on);
}
._calendar-cell[data-state="Default"][data-type="Selected"] {
  background-color: var(--primary);
}
._calendar-cell[data-state="Default"][data-type="Selected"] [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-state="Default"][data-type="Selected"] [data-ds-part="1"] {
  background-color: var(--primary-on);
}
._calendar-cell[data-type="Selected"]:disabled {
  background-color: transparent;
}
._calendar-cell[data-type="Selected"]:disabled [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-type="Selected"]:disabled [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Selected"] {
  background-color: transparent;
}
._calendar-cell[data-state="Disabled"][data-type="Selected"] [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Selected"] [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-type="Active"]:disabled {
  background-color: transparent;
}
._calendar-cell[data-type="Active"]:disabled [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-type="Active"]:disabled [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Active"] {
  background-color: transparent;
}
._calendar-cell[data-state="Disabled"][data-type="Active"] [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Active"] [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-type="Default"]:disabled {
  background-color: transparent;
}
._calendar-cell[data-type="Default"]:disabled [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-type="Default"]:disabled [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Default"] {
  background-color: transparent;
}
._calendar-cell[data-state="Disabled"][data-type="Default"] [data-ds-part="0"] {
  color: var(--content-disabled);
}
._calendar-cell[data-state="Disabled"][data-type="Default"] [data-ds-part="1"] {
  background-color: var(--content-disabled);
}
._calendar-cell[data-type="Active"]:hover {
  background-color: var(--primary-container);
  border-color: var(--primary);
  border-style: solid;
  border-width: 1px;
}
._calendar-cell[data-state="Hover"][data-type="Active"] {
  background-color: var(--primary-container);
  border-color: var(--primary);
  border-style: solid;
  border-width: 1px;
}
._calendar-cell[data-type="Selected"]:hover {
  background-color: var(--primary-press);
}
._calendar-cell[data-type="Selected"]:hover [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-type="Selected"]:hover [data-ds-part="1"] {
  background-color: var(--primary-on);
}
._calendar-cell[data-state="Hover"][data-type="Selected"] {
  background-color: var(--primary-press);
}
._calendar-cell[data-state="Hover"][data-type="Selected"] [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-state="Hover"][data-type="Selected"] [data-ds-part="1"] {
  background-color: var(--primary-on);
}
._calendar-cell[data-type="Active"] {
  background-color: var(--primary-container);
}
._calendar-cell[data-state="Default"][data-type="Active"] {
  background-color: var(--primary-container);
}
._calendar-cell[data-type="Default"]:hover {
  background-color: transparent;
  border-color: var(--outline-weak);
  border-style: solid;
  border-width: 1px;
}
._calendar-cell[data-state="Hover"][data-type="Default"] {
  background-color: transparent;
  border-color: var(--outline-weak);
  border-style: solid;
  border-width: 1px;
}
._calendar-cell[data-type="Default"]:focus-visible {
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-state="Focus"][data-type="Default"] {
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-type="Active"]:focus-visible {
  background-color: var(--primary-container);
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-state="Focus"][data-type="Active"] {
  background-color: var(--primary-container);
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-type="Selected"]:focus-visible {
  background-color: var(--primary);
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-type="Selected"]:focus-visible [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-type="Selected"]:focus-visible [data-ds-part="1"] {
  background-color: var(--primary-on);
}
._calendar-cell[data-state="Focus"][data-type="Selected"] {
  background-color: var(--primary);
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
._calendar-cell[data-state="Focus"][data-type="Selected"] [data-ds-part="0"] {
  color: var(--primary-on);
}
._calendar-cell[data-state="Focus"][data-type="Selected"] [data-ds-part="1"] {
  background-color: var(--primary-on);
}
