.check {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.check [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.25px;
  height: 11px;
  width: 16px;
}
