.confirm {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.confirm [data-ds-part="0"] {
  height: 18.0075px;
  width: 18.0075px;
}
.confirm [data-ds-part="0.0"] {
  background-color: var(--feedback-success);
  border-color: var(--feedback-success);
  border-style: solid;
  border-width: 1.5px;
  height: 18.0075px;
  width: 18.0075px;
}
.confirm [data-ds-part="0.1"] {
  border-color: var(--primary-on);
  border-style: solid;
  border-width: 1.5px;
  height: 4.905px;
  width: 7.0449px;
}
