.courses {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.courses [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.5px;
  height: 18.0075px;
  width: 17.0071px;
}
