.date-picker---years-months {
  align-items: flex-start;
  background-color: var(--bg-page);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  min-width: 352px;
  width: 352px;
}
.date-picker---years-months [data-ds-part="0"] {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: var(--components-card-component-body-padding);
  padding-left: var(--components-card-component-body-padding);
  padding-right: var(--components-card-component-body-padding);
  padding-top: var(--components-card-component-body-padding);
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0"] {
  align-items: flex-start;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: flex-start;
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.0"] {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: var(--spacing-1);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: var(--spacing-1);
  width: 304px;
}
.date-picker---years-months [data-ds-part="0.0.0.0"],
.date-picker---years-months [data-ds-part="0.0.0.2"] {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
  justify-content: flex-start;
}
.date-picker---years-months [data-ds-part="0.0.0.0.0"],
.date-picker---years-months [data-ds-part="0.0.0.2.0"] {
  height: 24px;
  width: 24px;
}
.date-picker---years-months [data-ds-part="0.0.0.0.0.0"],
.date-picker---years-months [data-ds-part="0.0.0.2.0.0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.25px;
  height: 8px;
  width: 4px;
}
.date-picker---years-months [data-ds-part="0.0.0.1"] {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  gap: var(--spacing-1);
  height: auto;
  justify-content: center;
  overflow: hidden;
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.0.1.0"] {
  color: var(--content-main);
  flex: 1 1 0px;
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.1"] {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  justify-content: flex-start;
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0.1.0"],
.date-picker---years-months [data-ds-part="0.0.1.1"],
.date-picker---years-months [data-ds-part="0.0.1.2"],
.date-picker---years-months [data-ds-part="0.0.1.3"] {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  justify-content: flex-start;
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0.1.0.0"],
.date-picker---years-months [data-ds-part="0.0.1.3.2"] {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  gap: var(--spacing-2-5);
  height: 40px;
  justify-content: center;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.1.0.0.0"],
.date-picker---years-months [data-ds-part="0.0.1.3.2.0"] {
  align-self: stretch;
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-base);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0.1.0.0.1"],
.date-picker---years-months [data-ds-part="0.0.1.3.2.1"] {
  background-color: var(--content-disabled);
  display: none;
  height: 4px;
  width: 4px;
}
.date-picker---years-months [data-ds-part="0.0.1.0.1"],
.date-picker---years-months [data-ds-part="0.0.1.0.2"],
.date-picker---years-months [data-ds-part="0.0.1.1.0"],
.date-picker---years-months [data-ds-part="0.0.1.1.1"],
.date-picker---years-months [data-ds-part="0.0.1.1.2"],
.date-picker---years-months [data-ds-part="0.0.1.2.0"],
.date-picker---years-months [data-ds-part="0.0.1.2.2"],
.date-picker---years-months [data-ds-part="0.0.1.3.0"],
.date-picker---years-months [data-ds-part="0.0.1.3.1"] {
  align-items: center;
  background-color: var(--bg-page);
  border-radius: 8px;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  gap: var(--spacing-2-5);
  height: 40px;
  justify-content: center;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.1.0.1.0"],
.date-picker---years-months [data-ds-part="0.0.1.0.2.0"],
.date-picker---years-months [data-ds-part="0.0.1.1.0.0"],
.date-picker---years-months [data-ds-part="0.0.1.1.1.0"],
.date-picker---years-months [data-ds-part="0.0.1.1.2.0"],
.date-picker---years-months [data-ds-part="0.0.1.2.0.0"],
.date-picker---years-months [data-ds-part="0.0.1.2.2.0"],
.date-picker---years-months [data-ds-part="0.0.1.3.0.0"],
.date-picker---years-months [data-ds-part="0.0.1.3.1.0"] {
  align-self: stretch;
  color: var(--content-main);
  font-family: var(--font-font);
  font-size: var(--text-base);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0.1.0.1.1"],
.date-picker---years-months [data-ds-part="0.0.1.0.2.1"],
.date-picker---years-months [data-ds-part="0.0.1.1.0.1"],
.date-picker---years-months [data-ds-part="0.0.1.1.1.1"],
.date-picker---years-months [data-ds-part="0.0.1.1.2.1"],
.date-picker---years-months [data-ds-part="0.0.1.2.0.1"],
.date-picker---years-months [data-ds-part="0.0.1.3.0.1"],
.date-picker---years-months [data-ds-part="0.0.1.3.1.1"] {
  background-color: var(--primary);
  display: none;
  height: 4px;
  width: 4px;
}
.date-picker---years-months [data-ds-part="0.0.1.2.1"] {
  align-items: center;
  background-color: var(--primary);
  border-radius: 8px;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  gap: var(--spacing-2-5);
  height: 40px;
  justify-content: center;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  width: 0px;
}
.date-picker---years-months [data-ds-part="0.0.1.2.1.0"] {
  align-self: stretch;
  color: var(--primary-on);
  font-family: var(--font-font);
  font-size: var(--text-base);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.date-picker---years-months [data-ds-part="0.0.1.2.1.1"] {
  background-color: var(--primary-on);
  display: none;
  height: 4px;
  width: 4px;
}
.date-picker---years-months [data-ds-part="0.0.1.2.2.1"] {
  background-color: var(--primary);
  height: 4px;
  width: 4px;
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] {
  border-radius: 16px 16px 0px 0px;
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0"] {
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-top: var(--spacing-6);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.2.1"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.3.2"] {
  background-color: var(--bg-page);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.0.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.2.1.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.3.2.0"] {
  color: var(--content-main);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.0.1"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.2"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.2.1.1"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.3.2.1"] {
  background-color: var(--primary);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.2.0"] {
  color: var(--primary-on);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.0.2.1"] {
  background-color: var(--primary-on);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Months"] [data-ds-part="0.0.1.2.2.1"] {
  display: none;
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] {
  border-radius: 16px 16px 0px 0px;
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0"] {
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-top: var(--spacing-6);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.2"] {
  background-color: var(--bg-page);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.0.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.2.0"] {
  color: var(--content-main);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.0.1"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.2.1"] {
  background-color: var(--primary);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.2"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.0"] {
  background-color: transparent;
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.2.0"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.0.0"] {
  color: var(--content-disabled);
}
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.0.2.1"],
.date-picker---years-months[data-mode="Bottom Sheet"][data-panel="Years"] [data-ds-part="0.0.1.3.0.1"] {
  background-color: var(--content-disabled);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0"] {
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-top: var(--spacing-6);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.0"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.2.1"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.3.2"] {
  background-color: var(--bg-page);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.0.0"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.2.1.0"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.3.2.0"] {
  color: var(--content-main);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.0.1"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.2"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.2.1.1"],
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.3.2.1"] {
  background-color: var(--primary);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.2.0"] {
  color: var(--primary-on);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.0.2.1"] {
  background-color: var(--primary-on);
}
.date-picker---years-months[data-mode="Modal"][data-panel="Months"] [data-ds-part="0.0.1.2.2.1"] {
  display: none;
}
