.drag-and-drop {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.drag-and-drop [data-ds-part="0"] {
  background-color: var(--icon-main);
  height: 14.5049px;
  width: 8px;
}
