.filter-table {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.filter-table [data-ds-part="0"] {
  background-color: var(--icon-main);
  height: 12px;
  width: 11.2942px;
}
