.finance {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.finance [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.5px;
  height: 17.9998px;
  width: 16.9998px;
}
