.list-row {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  height: fit-content;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 420px;
}
.list-row [data-ds-part="0"] {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: flex-start;
  overflow: hidden;
}
.list-row [data-ds-part="0.0"] {
  height: 20px;
  width: 20px;
}
.list-row [data-ds-part="0.0.0"] {
  border-color: var(--icon-subtle);
  border-style: solid;
  border-width: 1.25px;
  height: 6.6667px;
  width: 3.3333px;
}
.list-row [data-ds-part="0.1"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row [data-ds-part="1"] {
  align-items: flex-end;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 0px;
}
.list-row [data-ds-part="1.0"] {
  align-self: stretch;
  color: var(--content-main);
  font-family: var(--font-font);
  font-size: var(--text-base);
  font-weight: 500;
  letter-spacing: 0em;
  line-height: var(--leading-24);
  text-align: right;
  white-space: pre-wrap;
  width: auto;
}
.list-row [data-ds-part="1.1"] {
  align-self: stretch;
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
  width: auto;
}
.list-row [data-ds-part="2"] {
  align-items: center;
  background-color: var(--bg-surface-medium);
  border-color: var(--outline-weak);
  border-radius: 500px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  height: var(--spacing-12);
  justify-content: center;
  width: var(--spacing-12);
}
.list-row [data-ds-part="2.0"] {
  background-color: var(--feedback-success);
  border-color: var(--bg-page);
  border-style: solid;
  border-width: 2px;
  display: none;
  height: 12px;
  width: 12px;
}
.list-row [data-ds-part="3"] {
  background-color: var(--outline-weak);
  height: 1px;
  width: 420px;
}
.list-row[data-selected="false"][data-size="md"] {
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"] [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="md"][data-state="Default"] {
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"][data-state="Default"] [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"][data-state="Default"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"][data-state="Default"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"][data-state="Default"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="sm"] {
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] {
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Default"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="md"] {
  background-color: var(--primary-container);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] {
  background-color: var(--primary-container);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"][data-state="Default"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="lg"] {
  background-color: var(--primary-container);
}
.list-row[data-selected="true"][data-size="lg"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Default"] {
  background-color: var(--primary-container);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Default"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Default"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Default"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Default"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="sm"] {
  background-color: var(--primary-container);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] {
  background-color: var(--primary-container);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Default"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="md"]:hover {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"]:hover [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"]:hover [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"]:hover [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"]:hover [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="md"][data-state="Hover"] {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"][data-state="Hover"] [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"][data-state="Hover"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"][data-state="Hover"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"][data-state="Hover"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="lg"]:hover {
  background-color: var(--bg-surface-low);
}
.list-row[data-selected="false"][data-size="lg"][data-state="Hover"] {
  background-color: var(--bg-surface-low);
}
.list-row[data-selected="false"][data-size="sm"]:hover {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"]:hover [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Hover"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="md"]:focus-visible {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"]:focus-visible [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"]:focus-visible [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"]:focus-visible [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"]:focus-visible [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="md"][data-state="Focus"] {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"][data-state="Focus"] [data-ds-part="0.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"][data-state="Focus"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"][data-state="Focus"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"][data-state="Focus"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="lg"]:focus-visible {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
}
.list-row[data-selected="false"][data-size="lg"][data-state="Focus"] {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"]:focus-visible [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] {
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="1.0"] {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Focus"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="md"]:disabled {
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="0.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="2"] {
  height: var(--spacing-10);
  opacity: 0.47999998927116394;
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"]:disabled [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] {
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="0.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="2"] {
  height: var(--spacing-10);
  opacity: 0.47999998927116394;
  width: var(--spacing-10);
}
.list-row[data-selected="false"][data-size="md"][data-state="Disabled"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="false"][data-size="lg"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="false"][data-size="lg"]:disabled [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="lg"]:disabled [data-ds-part="1.0"],
.list-row[data-selected="false"][data-size="lg"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="false"][data-size="lg"]:disabled [data-ds-part="2"] {
  opacity: 0.47999998927116394;
}
.list-row[data-selected="false"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="false"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="lg"][data-state="Disabled"] [data-ds-part="1.0"],
.list-row[data-selected="false"][data-size="lg"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="false"][data-size="lg"][data-state="Disabled"] [data-ds-part="2"] {
  opacity: 0.47999998927116394;
}
.list-row[data-selected="false"][data-size="sm"]:disabled {
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="2"] {
  height: var(--spacing-8);
  opacity: 0.47999998927116394;
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"]:disabled [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] {
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.0"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.1"],
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="2"] {
  height: var(--spacing-8);
  opacity: 0.47999998927116394;
  width: var(--spacing-8);
}
.list-row[data-selected="false"][data-size="sm"][data-state="Disabled"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="md"]:hover {
  background-color: var(--primary-container-hover);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"]:hover [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] {
  background-color: var(--primary-container-hover);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"][data-state="Hover"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="lg"]:hover {
  background-color: var(--primary-container-hover);
}
.list-row[data-selected="true"][data-size="lg"]:hover [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"]:hover [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"]:hover [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"]:hover [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Hover"] {
  background-color: var(--primary-container-hover);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Hover"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Hover"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Hover"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Hover"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="sm"]:hover {
  background-color: var(--primary-container-hover);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"]:hover [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] {
  background-color: var(--primary-container-hover);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Hover"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="md"]:focus-visible {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"]:focus-visible [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="2"] {
  height: var(--spacing-10);
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"][data-state="Focus"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="lg"]:focus-visible {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
}
.list-row[data-selected="true"][data-size="lg"]:focus-visible [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"]:focus-visible [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"]:focus-visible [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"]:focus-visible [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Focus"] {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Focus"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Focus"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Focus"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Focus"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"]:focus-visible [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] {
  background-color: var(--primary-container);
  border-color: var(--focus-ring);
  border-style: solid;
  border-width: 2px;
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="0.0.0"] {
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="0.1.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="0.2"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="1.0"] {
  color: var(--primary-container-on);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="1.1"] {
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="2"] {
  height: var(--spacing-8);
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Focus"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="md"]:disabled {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="2"] {
  height: var(--spacing-10);
  opacity: 0.47999998927116394;
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"]:disabled [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-3);
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="2"] {
  height: var(--spacing-10);
  opacity: 0.47999998927116394;
  width: var(--spacing-10);
}
.list-row[data-selected="true"][data-size="md"][data-state="Disabled"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 10px;
  width: 10px;
}
.list-row[data-selected="true"][data-size="lg"]:disabled {
  background-color: var(--bg-surface-low);
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="1.0"],
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="true"][data-size="lg"]:disabled [data-ds-part="2"] {
  opacity: 0.47999998927116394;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] {
  background-color: var(--bg-surface-low);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.1"] {
  height: 20px;
  width: 20px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 9.1667px;
  width: 13.3333px;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="1.0"],
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.list-row[data-selected="true"][data-size="lg"][data-state="Disabled"] [data-ds-part="2"] {
  opacity: 0.47999998927116394;
}
.list-row[data-selected="true"][data-size="sm"]:disabled {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="2"] {
  height: var(--spacing-8);
  opacity: 0.47999998927116394;
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"]:disabled [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] {
  background-color: var(--bg-surface-low);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.0"],
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.1"] {
  height: 16px;
  width: 16px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
  height: 5.3333px;
  width: 2.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.1.0"] {
  border-color: var(--icon-disabled);
  border-style: solid;
  border-width: 1.25px;
  height: 7.3333px;
  width: 10.6667px;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="0.2"] {
  color: var(--content-disabled);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: right;
  white-space: pre-wrap;
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="1.0"] {
  color: var(--content-disabled);
  font-size: var(--text-sm);
  line-height: var(--leading-20);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
  font-size: var(--text-xs);
  line-height: var(--leading-16);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="2"] {
  height: var(--spacing-8);
  opacity: 0.47999998927116394;
  width: var(--spacing-8);
}
.list-row[data-selected="true"][data-size="sm"][data-state="Disabled"] [data-ds-part="2.0"] {
  border-width: 1.5px;
  height: 8px;
  width: 8px;
}
