.long-text {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.long-text [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.5px;
  height: 15px;
  width: 16px;
}
