.main {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.main [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1.25px;
  height: 14.0058px;
  width: 18.0075px;
}
