.maintenance-tasks {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.maintenance-tasks [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.5px;
  height: 18.947px;
  width: 18.947px;
}
