.qr-code {
  align-items: center;
  background-color: var(--static-white);
  border-color: var(--outline-weak);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-top: var(--spacing-3);
  width: 120px;
}
.qr-code [data-ds-part="0"],
.qr-code [data-ds-part="0.0"] {
  height: 96px;
  width: 96px;
}
.qr-code [data-ds-part="0.0.0"] {
  background-color: var(--static-black);
  height: 96px;
  width: 96px;
}
.qr-code [data-ds-part="0.1"] {
  align-items: center;
  background-color: var(--static-white);
  border-radius: 6px;
  display: none;
  flex-direction: row;
  height: 25px;
  justify-content: center;
  overflow: hidden;
  width: 25px;
}
.qr-code [data-ds-part="0.1.0"] {
  align-items: center;
  background-color: var(--primary);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 19px;
  justify-content: center;
  overflow: hidden;
  width: 19px;
}
.qr-code [data-ds-part="0.1.0.0"] {
  height: 13px;
  width: 13px;
}
.qr-code [data-ds-part="0.1.0.0.0"],
.qr-code [data-ds-part="0.1.0.0.0.0"] {
  height: 9.75px;
  width: 7.5833px;
}
.qr-code [data-ds-part="0.1.0.0.0.0.0"] {
  border-color: var(--primary-on);
  border-style: solid;
  border-width: 1.5px;
  height: 9.75px;
  width: 7.5833px;
}
.qr-code [data-ds-part="0.1.0.0.0.0.1"] {
  border-color: var(--primary-on);
  border-style: solid;
  border-width: 1.5px;
  height: 3.25px;
  width: 3.25px;
}
.qr-code[data-size="md"][data-state="Expired"] {
  height: 160px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 160px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0"],
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.0"],
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.0.0"] {
  height: 128px;
  width: 128px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1"] {
  height: 33px;
  width: 33px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0"] {
  height: 27px;
  width: 27px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0.0"] {
  height: 17px;
  width: 17px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 12.75px;
  width: 9.9167px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 4.25px;
  width: 4.25px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 160px;
  justify-content: center;
  overflow: hidden;
  width: 160px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.0"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1"] {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-1-5);
  padding-right: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1.0"] {
  display: none;
  height: 20px;
  width: 20px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1.0.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 15px;
  width: 15px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1.1"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1.2"] {
  height: 20px;
  width: 20px;
}
.qr-code[data-size="md"][data-state="Expired"] [data-ds-part="1.1.2.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 13.3333px;
  width: 13.3333px;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 120px;
  justify-content: center;
  overflow: hidden;
  width: 120px;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.0"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1"] {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-1-5);
  padding-right: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1.0"] {
  display: none;
  height: 20px;
  width: 20px;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1.0.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 15px;
  width: 15px;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1.1"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1.2"] {
  height: 20px;
  width: 20px;
}
.qr-code[data-size="sm"][data-state="Expired"] [data-ds-part="1.1.2.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 13.3333px;
  width: 13.3333px;
}
.qr-code[data-size="lg"][data-state="Expired"] {
  height: 200px;
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-top: var(--spacing-5);
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0"],
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.0"],
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.0.0"] {
  height: 160px;
  width: 160px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1"] {
  height: 42px;
  width: 42px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0"] {
  height: 36px;
  width: 36px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0.0"] {
  height: 21px;
  width: 21px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 15.75px;
  width: 12.25px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 5.25px;
  width: 5.25px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 200px;
  justify-content: center;
  overflow: hidden;
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.0"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1"] {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-1-5);
  padding-right: var(--spacing-1-5);
  padding-top: var(--spacing-1-5);
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1.0"] {
  display: none;
  height: 20px;
  width: 20px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1.0.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 15px;
  width: 15px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1.1"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1.2"] {
  height: 20px;
  width: 20px;
}
.qr-code[data-size="lg"][data-state="Expired"] [data-ds-part="1.1.2.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 13.3333px;
  width: 13.3333px;
}
.qr-code[data-size="md"][data-state="Loading"] {
  height: 160px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 160px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0"],
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.0"],
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.0.0"] {
  height: 128px;
  width: 128px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1"] {
  height: 33px;
  width: 33px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0"] {
  height: 27px;
  width: 27px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0.0"] {
  height: 17px;
  width: 17px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 12.75px;
  width: 9.9167px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 4.25px;
  width: 4.25px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 160px;
  justify-content: center;
  overflow: hidden;
  width: 160px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1.0"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1.0.0"] {
  height: 24px;
  width: 24px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1.0.0.0"] {
  background-color: var(--primary);
  height: 24px;
  opacity: 0.1599999964237213;
  width: 24px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1.0.0.1"] {
  background-color: var(--primary);
  height: 24px;
  width: 24px;
}
.qr-code[data-size="md"][data-state="Loading"] [data-ds-part="1.0.1"] {
  color: var(--content-subtitle);
  display: none;
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  height: 20px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
  width: 94px;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 120px;
  justify-content: center;
  overflow: hidden;
  width: 120px;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1.0"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1-5);
  justify-content: center;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1.0.0"] {
  height: 16px;
  width: 16px;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1.0.0.0"] {
  background-color: var(--primary);
  height: 16px;
  opacity: 0.1599999964237213;
  width: 16px;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1.0.0.1"] {
  background-color: var(--primary);
  height: 16px;
  width: 16px;
}
.qr-code[data-size="sm"][data-state="Loading"] [data-ds-part="1.0.1"] {
  color: var(--content-subtitle);
  display: none;
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
  width: 80px;
}
.qr-code[data-size="lg"][data-state="Loading"] {
  height: 200px;
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-top: var(--spacing-5);
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0"],
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.0"],
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.0.0"] {
  height: 160px;
  width: 160px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1"] {
  height: 42px;
  width: 42px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0"] {
  height: 36px;
  width: 36px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0.0"] {
  height: 21px;
  width: 21px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 15.75px;
  width: 12.25px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 5.25px;
  width: 5.25px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 200px;
  justify-content: center;
  overflow: hidden;
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1.0"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1.0.0"] {
  height: 24px;
  width: 24px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1.0.0.0"] {
  background-color: var(--primary);
  height: 24px;
  opacity: 0.1599999964237213;
  width: 24px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1.0.0.1"] {
  background-color: var(--primary);
  height: 24px;
  width: 24px;
}
.qr-code[data-size="lg"][data-state="Loading"] [data-ds-part="1.0.1"] {
  color: var(--content-subtitle);
  display: none;
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  height: 20px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
  width: 94px;
}
.qr-code[data-size="md"][data-state="Scanned"] {
  height: 160px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 160px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0"],
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.0"],
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.0.0"] {
  height: 128px;
  width: 128px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1"] {
  height: 33px;
  width: 33px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0"] {
  height: 27px;
  width: 27px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0.0"] {
  height: 17px;
  width: 17px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 12.75px;
  width: 9.9167px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 4.25px;
  width: 4.25px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 160px;
  justify-content: center;
  overflow: hidden;
  width: 160px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1.0"] {
  align-items: center;
  background-color: var(--feedback-success);
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  width: 32px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1.0.0"] {
  height: 19px;
  width: 19px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1.0.0.0"] {
  border-color: var(--feedback-success-on);
  border-style: solid;
  border-width: 1.25px;
  height: 8.7083px;
  width: 12.6667px;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1.1"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="md"][data-state="Scanned"] [data-ds-part="1.2"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="sm"][data-state="Scanned"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 120px;
  justify-content: center;
  overflow: hidden;
  width: 120px;
}
.qr-code[data-size="sm"][data-state="Scanned"] [data-ds-part="1.0"] {
  align-items: center;
  background-color: var(--feedback-success);
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: center;
  overflow: hidden;
  width: 24px;
}
.qr-code[data-size="sm"][data-state="Scanned"] [data-ds-part="1.0.0"] {
  height: 14px;
  width: 14px;
}
.qr-code[data-size="sm"][data-state="Scanned"] [data-ds-part="1.0.0.0"] {
  border-color: var(--feedback-success-on);
  border-style: solid;
  border-width: 1.25px;
  height: 6.4167px;
  width: 9.3333px;
}
.qr-code[data-size="sm"][data-state="Scanned"] [data-ds-part="1.1"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="lg"][data-state="Scanned"] {
  height: 200px;
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-top: var(--spacing-5);
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0"],
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.0"],
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.0.0"] {
  height: 160px;
  width: 160px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1"] {
  height: 42px;
  width: 42px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0"] {
  height: 36px;
  width: 36px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0.0"] {
  height: 21px;
  width: 21px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 15.75px;
  width: 12.25px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 5.25px;
  width: 5.25px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1"] {
  align-items: center;
  background-color: var(--static-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 200px;
  justify-content: center;
  overflow: hidden;
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1.0"] {
  align-items: center;
  background-color: var(--feedback-success);
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: center;
  overflow: hidden;
  width: 32px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1.0.0"] {
  height: 19px;
  width: 19px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1.0.0.0"] {
  border-color: var(--feedback-success-on);
  border-style: solid;
  border-width: 1.25px;
  height: 8.7083px;
  width: 12.6667px;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1.1"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="lg"][data-state="Scanned"] [data-ds-part="1.2"] {
  color: var(--static-black);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
}
.qr-code[data-size="md"]:active {
  height: 160px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 160px;
}
.qr-code[data-size="md"]:active [data-ds-part="0"],
.qr-code[data-size="md"]:active [data-ds-part="0.0"],
.qr-code[data-size="md"]:active [data-ds-part="0.0.0"] {
  height: 128px;
  width: 128px;
}
.qr-code[data-size="md"]:active [data-ds-part="0.1"] {
  height: 33px;
  width: 33px;
}
.qr-code[data-size="md"]:active [data-ds-part="0.1.0"] {
  height: 27px;
  width: 27px;
}
.qr-code[data-size="md"]:active [data-ds-part="0.1.0.0"] {
  height: 17px;
  width: 17px;
}
.qr-code[data-size="md"]:active [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="md"]:active [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="md"]:active [data-ds-part="0.1.0.0.0.0.0"] {
  height: 12.75px;
  width: 9.9167px;
}
.qr-code[data-size="md"]:active [data-ds-part="0.1.0.0.0.0.1"] {
  height: 4.25px;
  width: 4.25px;
}
.qr-code[data-size="md"][data-state="Active"] {
  height: 160px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: 160px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0"],
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.0"],
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.0.0"] {
  height: 128px;
  width: 128px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1"] {
  height: 33px;
  width: 33px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0"] {
  height: 27px;
  width: 27px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0.0"] {
  height: 17px;
  width: 17px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 12.75px;
  width: 9.9167px;
}
.qr-code[data-size="md"][data-state="Active"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 4.25px;
  width: 4.25px;
}
.qr-code[data-size="lg"]:active {
  height: 200px;
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-top: var(--spacing-5);
  width: 200px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0"],
.qr-code[data-size="lg"]:active [data-ds-part="0.0"],
.qr-code[data-size="lg"]:active [data-ds-part="0.0.0"] {
  height: 160px;
  width: 160px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0.1"] {
  height: 42px;
  width: 42px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0"] {
  height: 36px;
  width: 36px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0.0"] {
  height: 21px;
  width: 21px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0.0.0.0.0"] {
  height: 15.75px;
  width: 12.25px;
}
.qr-code[data-size="lg"]:active [data-ds-part="0.1.0.0.0.0.1"] {
  height: 5.25px;
  width: 5.25px;
}
.qr-code[data-size="lg"][data-state="Active"] {
  height: 200px;
  padding-bottom: var(--spacing-5);
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
  padding-top: var(--spacing-5);
  width: 200px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0"],
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.0"],
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.0.0"] {
  height: 160px;
  width: 160px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1"] {
  height: 42px;
  width: 42px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0"] {
  height: 36px;
  width: 36px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0.0"] {
  height: 21px;
  width: 21px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0.0.0"],
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0.0.0.0"],
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0.0.0.0.0"] {
  height: 15.75px;
  width: 12.25px;
}
.qr-code[data-size="lg"][data-state="Active"] [data-ds-part="0.1.0.0.0.0.1"] {
  height: 5.25px;
  width: 5.25px;
}
