.system-settings {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.system-settings [data-ds-part="0"] {
  border-color: var(--icon-main);
  border-style: solid;
  border-width: 1.25px;
  height: 18.0017px;
  width: 18.4147px;
}
