.tab-line {
  align-items: center;
  background-color: var(--bg-surface-lowest);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  height: fit-content;
  justify-content: flex-end;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  width: fit-content;
}
.tab-line [data-ds-part="0"],
.tab-line [data-ds-part="1"],
.tab-line [data-ds-part="2"] {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1-5);
}
.tab-line [data-ds-part="0.0"],
.tab-line [data-ds-part="1.0"],
.tab-line [data-ds-part="2.0"],
.tab-line [data-ds-part="3.0"] {
  display: none;
  height: 20px;
  width: 20px;
}
.tab-line [data-ds-part="0.0.0"],
.tab-line [data-ds-part="1.0.0"],
.tab-line [data-ds-part="2.0.0"],
.tab-line [data-ds-part="3.0.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 15px;
  width: 15px;
}
.tab-line [data-ds-part="0.1"],
.tab-line [data-ds-part="1.1"],
.tab-line [data-ds-part="2.1"] {
  align-items: center;
  background-color: var(--bg-surface-medium);
  border-radius: 4px;
  display: none;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
  min-width: 16px;
  padding-bottom: var(--spacing-0-5);
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  padding-top: var(--spacing-0-5);
}
.tab-line [data-ds-part="0.1.0"],
.tab-line [data-ds-part="1.1.0"],
.tab-line [data-ds-part="2.1.0"] {
  align-self: stretch;
  color: var(--content-main);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  min-width: 16px;
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.tab-line [data-ds-part="0.2"],
.tab-line [data-ds-part="1.2"],
.tab-line [data-ds-part="2.2"] {
  color: var(--content-title);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: left;
  white-space: pre-wrap;
}
.tab-line [data-ds-part="3"] {
  align-items: center;
  background-color: var(--bg-page);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1-5);
}
.tab-line [data-ds-part="3.1"] {
  align-items: center;
  background-color: var(--primary-container);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
  min-width: 16px;
  padding-bottom: var(--spacing-0-5);
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  padding-top: var(--spacing-0-5);
}
.tab-line [data-ds-part="3.1.0"] {
  align-self: stretch;
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  min-width: 16px;
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.tab-line [data-ds-part="3.2"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: left;
  white-space: pre-wrap;
}
.tab-line[data-with-slot="On"] {
  align-items: flex-end;
  background-color: transparent;
  border-radius: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.tab-line[data-with-slot="On"] [data-ds-part="0"] {
  background-color: var(--bg-surface-lowest);
  border-radius: 8px;
  justify-content: flex-end;
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2"] {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1-5);
  width: 69px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0.0"] {
  border-width: 0px;
  display: none;
  height: 20px;
  width: 20px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0.0.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.1.0.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2.0.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.3.0.0"] {
  border-color: var(--primary);
  border-style: solid;
  border-width: 1.25px;
  height: 15px;
  width: 15px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0.1"],
.tab-line[data-with-slot="On"] [data-ds-part="0.1.1"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2.1"] {
  align-items: center;
  background-color: var(--bg-surface-medium);
  border-radius: 4px;
  display: none;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
  min-width: 16px;
  padding-bottom: var(--spacing-0-5);
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  padding-top: var(--spacing-0-5);
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0.1.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.1.1.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2.1.0"] {
  align-self: stretch;
  color: var(--content-main);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  min-width: 16px;
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.0.2"],
.tab-line[data-with-slot="On"] [data-ds-part="0.1.2"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2.2"] {
  color: var(--content-title);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: left;
  white-space: pre-wrap;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.1"] {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1-5);
  width: 69px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.1.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.2.0"],
.tab-line[data-with-slot="On"] [data-ds-part="0.3.0"] {
  display: none;
  height: 20px;
  width: 20px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.3"] {
  align-items: center;
  background-color: var(--bg-page);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  justify-content: center;
  padding-bottom: var(--spacing-1-5);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1-5);
  width: 97px;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.3.1"] {
  align-items: center;
  background-color: var(--primary-container);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  justify-content: center;
  min-width: 16px;
  padding-bottom: var(--spacing-0-5);
  padding-left: var(--spacing-0-5);
  padding-right: var(--spacing-0-5);
  padding-top: var(--spacing-0-5);
}
.tab-line[data-with-slot="On"] [data-ds-part="0.3.1.0"] {
  align-self: stretch;
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0em;
  line-height: var(--leading-20);
  min-width: 16px;
  text-align: center;
  white-space: pre-wrap;
  width: auto;
}
.tab-line[data-with-slot="On"] [data-ds-part="0.3.2"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: left;
  white-space: pre-wrap;
}
.tab-line[data-with-slot="On"] [data-ds-part="1"] {
  align-self: stretch;
  background-color: var(--bg-page);
  border-radius: 0px;
  flex-direction: column;
  height: 86px;
  padding-bottom: var(--spacing-4);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-4);
  width: auto;
}
.tab-line[data-with-slot="On"] [data-ds-part="1.0"] {
  align-items: center;
  background-color: var(--feedback-info-bg);
  border-color: var(--feedback-info);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 54px;
  justify-content: center;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  width: 304px;
}
.tab-line[data-with-slot="On"] [data-ds-part="1.0.0"] {
  border-width: 0px;
  color: var(--feedback-info);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-24);
  text-align: center;
  white-space: pre-wrap;
}
