._table-row-slot-table-image {
  align-items: center;
  background-color: var(--feedback-info-bg);
  border-color: var(--feedback-info);
  border-style: solid;
  border-width: 0.5px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 28px;
  justify-content: center;
  overflow: hidden;
  width: 28px;
}
._table-row-slot-table-image [data-ds-part="0"] {
  color: var(--feedback-info);
  font-family: var(--font-font);
  font-size: var(--text-2xs);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: var(--leading-16);
  text-align: center;
  white-space: pre-wrap;
}
