.upload {
  align-items: center;
  background-color: var(--bg-page);
  border-color: var(--outline-default);
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  height: fit-content;
  justify-content: flex-start;
  padding-bottom: var(--spacing-6);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-6);
  width: 360px;
}
.upload [data-ds-part="0"] {
  align-items: center;
  background-color: var(--bg-surface-low);
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  padding-bottom: var(--spacing-2-5);
  padding-left: var(--spacing-2-5);
  padding-right: var(--spacing-2-5);
  padding-top: var(--spacing-2-5);
}
.upload [data-ds-part="0.0"] {
  height: 20px;
  width: 20px;
}
.upload [data-ds-part="0.0.0"] {
  border-color: var(--icon-subtle);
  border-style: solid;
  border-width: 1.5px;
  height: 15.0062px;
  width: 15.0062px;
}
.upload [data-ds-part="1"] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  justify-content: flex-start;
  overflow: hidden;
}
.upload [data-ds-part="1.0"] {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: center;
  overflow: hidden;
}
.upload [data-ds-part="1.0.0"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.upload [data-ds-part="1.0.1"] {
  color: var(--primary);
  font-family: var(--font-font);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.upload [data-ds-part="1.1"] {
  color: var(--content-subtitle);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.upload[data-state="Drag Over"] {
  background-color: var(--primary-container);
  border-color: var(--primary);
}
.upload[data-state="Drag Over"] [data-ds-part="0"] {
  background-color: var(--primary-container-hover);
}
.upload[data-state="Drag Over"] [data-ds-part="0.0.0"] {
  border-color: var(--primary);
}
.upload[data-state="Drag Over"] [data-ds-part="1.0.0"] {
  color: var(--primary-container-on);
  font-weight: 500;
}
.upload[data-state="Drag Over"] [data-ds-part="1.1"] {
  color: var(--primary-container-on);
}
.upload[data-state="Error"] {
  background-color: var(--feedback-error-bg);
  border-color: var(--feedback-error);
}
.upload[data-state="Error"] [data-ds-part="0"] {
  background-color: var(--bg-page);
}
.upload[data-state="Error"] [data-ds-part="0.0.0"] {
  border-color: var(--feedback-error);
}
.upload[data-state="Error"] [data-ds-part="1.2"] {
  color: var(--feedback-error);
  font-family: var(--font-font);
  font-size: var(--text-xs);
  font-weight: 500;
  letter-spacing: 0px;
  line-height: var(--leading-20);
  text-align: center;
  white-space: pre-wrap;
}
.upload:hover {
  background-color: var(--bg-surface-low);
  border-color: var(--primary);
}
.upload:hover [data-ds-part="0"] {
  background-color: var(--bg-page);
}
.upload:hover [data-ds-part="0.0.0"] {
  border-color: var(--primary);
}
.upload[data-state="Hover"] {
  background-color: var(--bg-surface-low);
  border-color: var(--primary);
}
.upload[data-state="Hover"] [data-ds-part="0"] {
  background-color: var(--bg-page);
}
.upload[data-state="Hover"] [data-ds-part="0.0.0"] {
  border-color: var(--primary);
}
.upload:focus-visible {
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
.upload[data-state="Focus"] {
  box-shadow: 0px 0px 0px 4px rgba(119, 0, 255, 1), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  overflow: hidden;
}
.upload:disabled {
  background-color: var(--bg-disabled);
  border-color: var(--outline-disabled);
}
.upload:disabled [data-ds-part="0"] {
  background-color: var(--bg-page);
}
.upload:disabled [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.upload:disabled [data-ds-part="1.0.0"],
.upload:disabled [data-ds-part="1.0.1"],
.upload:disabled [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
.upload[data-state="Disabled"] {
  background-color: var(--bg-disabled);
  border-color: var(--outline-disabled);
}
.upload[data-state="Disabled"] [data-ds-part="0"] {
  background-color: var(--bg-page);
}
.upload[data-state="Disabled"] [data-ds-part="0.0.0"] {
  border-color: var(--icon-disabled);
}
.upload[data-state="Disabled"] [data-ds-part="1.0.0"],
.upload[data-state="Disabled"] [data-ds-part="1.0.1"],
.upload[data-state="Disabled"] [data-ds-part="1.1"] {
  color: var(--content-disabled);
}
