.warning {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}
.warning [data-ds-part="0"],
.warning [data-ds-part="0.0"],
.warning [data-ds-part="0.0.0"] {
  height: 24px;
  width: 24px;
}
.warning [data-ds-part="0.0.1"] {
  background-color: var(--feedback-warning);
  border-color: var(--feedback-warning);
  border-style: solid;
  border-width: 1.5px;
  height: 18px;
  width: 18px;
}
.warning [data-ds-part="0.0.2"] {
  border-color: var(--primary-on);
  border-style: solid;
  border-width: 1.5px;
  height: 5px;
  width: 1px;
}
.warning [data-ds-part="0.0.3"] {
  border-color: var(--primary-on);
  border-style: solid;
  border-width: 1.5px;
  height: 1px;
  width: 1px;
}
