/* Variables used by Alert */
/* Tailwind V4 */

:root {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --content-main: #ebebeb;
  --content-title: #d0d0d0;
  --feedback-error: #f04438;
  --feedback-info: #1e83ff;
  --feedback-success: #17b26a;
  --feedback-warning: #df6016;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #001433;
  --tag-blue-outline: #002a6e;
  --tag-green-bg: #001a0e;
  --tag-green-outline: #005e34;
  --tag-orange-bg: #331400;
  --tag-orange-outline: #5c2300;
  --tag-red-bg: #330400;
  --tag-red-outline: #5c0800;
  --text-sm: 14px;
}

[data-theme="default"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="light"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #863bff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #ba4914;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #5860fc;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}

[data-theme="value"] {
  --content-main: #1f1f1f;
  --content-title: #4d4d4d;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-full: 500px;
  --radius-lg: 8px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-outline: #b2ddff;
  --tag-green-bg: #ecfdf3;
  --tag-green-outline: #abefc6;
  --tag-orange-bg: #fff4e6;
  --tag-orange-outline: #ffdfcc;
  --tag-red-bg: #fff1f0;
  --tag-red-outline: #ffdad6;
  --text-sm: 14px;
}
