/* Variables used by Authors List */
/* Tailwind V4 */

:root {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}
[data-theme="baseline"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="compact"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="dark"], .dark {
  --bg-surface-low: var(--gray-900);
  --content-main: var(--gray-100);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-900);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="default"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="light"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="light-mode"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="logistic-dark"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="logistic-light"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="mode-1"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="sale"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="soniz"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}

[data-theme="value"] {
  --bg-surface-low: var(--gray-50);
  --content-main: var(--gray-900);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-50: #f2f2f2;
  --gray-900: #1f1f1f;
  --leading-24: 24px;
  --outline-weak: var(--gray-100);
  --radius-lg: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-base: 16px;
}
