/* Variables used by Avatar */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-medium: #333333;
  --feedback-success: #17b26a;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #1f1f1f;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #330077;
  --primary-container-on: #bfa6ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #40170a;
  --primary-container-on: #f7bd7a;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #19174f;
  --primary-container-on: #9eb1ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --feedback-success: #067647;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --outline-weak: #ebebeb;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xl: 12px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --text-2xs: 10px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
  --text-xs: 12px;
}
