/* Variables used by Badge / Status */
/* Tailwind V4 */

:root {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}
[data-theme="baseline"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="compact"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 12px;
  --typography-line-height-line-height: 20px;
}

[data-theme="dark"], .dark {
  --bg-disabled: #141414;
  --content-main: #ebebeb;
  --feedback-error: #f04438;
  --feedback-info: #1e83ff;
  --feedback-success: #17b26a;
  --feedback-warning: #df6016;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="default"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="light"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="logistic-dark"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="logistic-light"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="mode-1"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="sale"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="soniz"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}

[data-theme="value"] {
  --bg-disabled: #d0d0d0;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-info: #0665ff;
  --feedback-success: #067647;
  --feedback-warning: #ba4914;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --typography-font-family-font-family: "IRANSansXFaNum";
  --typography-font-size-font-size: 14px;
  --typography-line-height-line-height: 22px;
}
