/* Variables used by Buttons */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-low: #1f1f1f;
  --bg-surface-lowest: #141414;
  --bg-surface-medium: #333333;
  --content-disabled: #4d4d4d;
  --content-main: #ebebeb;
  --feedback-error: #f04438;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #666666;
  --outline-strong: #e0e0e0;
  --outline-weak: #1f1f1f;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #863bff;
  --primary-container: #330077;
  --primary-container-hover: #7700ff;
  --primary-container-on: #bfa6ff;
  --primary-container-press: #6401d6;
  --primary-disabled: #330077;
  --primary-disabled-on: #6401d6;
  --primary-hover: #7d14ff;
  --primary-on: #ffffff;
  --primary-press: #a173ff;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #ba4914;
  --primary-container: #40170a;
  --primary-container-hover: #ba4914;
  --primary-container-on: #f7bd7a;
  --primary-container-press: #943a18;
  --primary-disabled: #40170a;
  --primary-disabled-on: #943a18;
  --primary-hover: #943a18;
  --primary-on: #ffffff;
  --primary-press: #773217;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #5860fc;
  --primary-container: #19174f;
  --primary-container-hover: #362dd5;
  --primary-container-on: #9eb1ff;
  --primary-container-press: #2c27ac;
  --primary-disabled: #19174f;
  --primary-disabled-on: #2c27ac;
  --primary-hover: #403af1;
  --primary-on: #ffffff;
  --primary-press: #7888ff;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --feedback-error: #d92d20;
  --feedback-error-hover: #f04438;
  --feedback-error-on: #ffffff;
  --feedback-error-press: #b42318;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-hover: #dacdff;
  --primary-container-on: #7700ff;
  --primary-container-press: #bfa6ff;
  --primary-disabled: #ebe4ff;
  --primary-disabled-on: #bfa6ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --primary-press: #5403af;
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
