/* Variables used by Buttons */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-low: var(--gray-900);
  --bg-surface-lowest: var(--gray-950);
  --bg-surface-medium: var(--gray-800);
  --content-disabled: var(--gray-700);
  --content-main: var(--gray-100);
  --feedback-error: var(--red-500);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-100);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-600);
  --outline-strong: var(--gray-200);
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-container: var(--logistic-950);
  --primary-container-hover: var(--logistic-700);
  --primary-container-on: var(--logistic-300);
  --primary-container-press: var(--logistic-800);
  --primary-disabled: var(--logistic-950);
  --primary-disabled-on: var(--logistic-800);
  --primary-hover: var(--logistic-600);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-400);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-container: var(--sale-950);
  --primary-container-hover: var(--sale-700);
  --primary-container-on: var(--sale-300);
  --primary-container-press: var(--sale-800);
  --primary-disabled: var(--sale-950);
  --primary-disabled-on: var(--sale-800);
  --primary-hover: var(--sale-800);
  --primary-on: var(--base-white);
  --primary-press: var(--sale-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-container: var(--shoniz-950);
  --primary-container-hover: var(--shoniz-700);
  --primary-container-on: var(--shoniz-300);
  --primary-container-press: var(--shoniz-800);
  --primary-disabled: var(--shoniz-950);
  --primary-disabled-on: var(--shoniz-800);
  --primary-hover: var(--shoniz-600);
  --primary-on: var(--base-white);
  --primary-press: var(--shoniz-400);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-lowest: var(--gray-25);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --feedback-error: var(--red-600);
  --feedback-error-hover: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-error-press: var(--red-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-400: #a173ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --logistic-900: #5403af;
  --logistic-950: #330077;
  --numbers-12: 12px;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-disabled: var(--logistic-100);
  --primary-disabled-on: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --primary-press: var(--logistic-900);
  --radius-full: 500px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-700: #b42318;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --sale-900: #773217;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-400: #7888ff;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-700: #362dd5;
  --shoniz-800: #2c27ac;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2-5: 10px;
  --primitives-spacing-spacing---3: 8px;
  --spacing-spacing---7: 16px;
  --spacing-spacing-12: var(--numbers-12);
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
