/* Variables used by Card / Normal */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --content-main: #ebebeb;
  --feedback-info: #1e83ff;
  --feedback-info-bg: #0e265d;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #141414;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --feedback-info: #0665ff;
  --feedback-info-bg: #d6eaff;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-disabled: #f2f2f2;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
