/* Variables used by Desktop Date picker */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-lowest: #141414;
  --bg-surface-medium: #333333;
  --components-card-component-body-padding: 24px;
  --content-disabled: #4d4d4d;
  --content-helper: #8c8c8c;
  --content-main: #ebebeb;
  --content-placeholder: #757575;
  --content-subtitle: #b3b3b3;
  --feedback-error: #f04438;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #666666;
  --outline-disabled: #141414;
  --outline-strong: #e0e0e0;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #863bff;
  --primary-container: #330077;
  --primary-container-on: #bfa6ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #ba4914;
  --primary-container: #40170a;
  --primary-container-on: #f7bd7a;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #5860fc;
  --primary-container: #19174f;
  --primary-container-on: #9eb1ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --bg-surface-medium: #ebebeb;
  --components-card-component-body-padding: 24px;
  --content-disabled: #b3b3b3;
  --content-helper: #6e6e6e;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --feedback-error: #d92d20;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-disabled: #f2f2f2;
  --outline-strong: #333333;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing---2: 4px;
  --spacing-spacing---3: 8px;
  --spacing-spacing-none: 0px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
