/* Variables used by Drawer */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-low: #1f1f1f;
  --content-main: #ebebeb;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #666666;
  --outline-weak: #1f1f1f;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #863bff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #ba4914;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #5860fc;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-main: #1f1f1f;
  --font-weight-medium: Medium;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-20: 20px;
  --leading-24: 24px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-sm: 14px;
}
