/* Variables used by List / Row */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-low: var(--gray-900);
  --bg-surface-medium: var(--gray-800);
  --content-disabled: var(--gray-700);
  --content-main: var(--gray-100);
  --content-subtitle: var(--gray-400);
  --feedback-success: var(--green-500);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-700);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-container: var(--logistic-950);
  --primary-container-hover: var(--logistic-700);
  --primary-container-on: var(--logistic-300);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-container: var(--sale-950);
  --primary-container-hover: var(--sale-700);
  --primary-container-on: var(--sale-300);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-container: var(--shoniz-950);
  --primary-container-hover: var(--shoniz-700);
  --primary-container-on: var(--shoniz-300);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-success: var(--green-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-500: #17b26a;
  --green-700: #067647;
  --icon-disabled: var(--gray-400);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-200: #dacdff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-hover: var(--logistic-200);
  --primary-container-on: var(--logistic-700);
  --radius-full: 500px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-700: #362dd5;
  --shoniz-950: #19174f;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-8: 32px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
