/* Variables used by _Menu Items */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-lowest: var(--gray-950);
  --content-disabled: var(--gray-700);
  --content-main: var(--gray-100);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-100);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-500);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--sale-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--shoniz-500);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-400: #b3b3b3;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}
