/* Variables used by Modal */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --content-main: var(--gray-100);
  --content-subtitle: var(--gray-400);
  --feedback-info: var(--inventory-500);
  --feedback-info-bg: var(--inventory-950);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-100);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-600);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--sale-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--shoniz-500);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-28: 28px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-radius---2: 8px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-spacing-4: var(--numbers-4);
  --text-base: 16px;
  --text-lg: 18px;
  --text-sm: 14px;
}
