/* Variables used by Pop Confirm */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-medium: var(--gray-800);
  --content-disabled: var(--gray-700);
  --content-main: var(--gray-100);
  --content-subtitle: var(--gray-400);
  --feedback-error: var(--red-500);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-100);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-600);
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-on: var(--base-white);
  --feedback-warning: var(--sale-700);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-600: #df6016;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --text-sm: 14px;
  --text-xs: 12px;
}
