/* Variables used by Popover Content */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --content-main: #ebebeb;
  --content-subtitle: #b3b3b3;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #863bff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #ba4914;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #5860fc;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --leading-24: 24px;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-base: 16px;
  --text-sm: 14px;
}
