/* Variables used by Searchbox */
/* Tailwind V4 */

:root {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}
[data-theme="baseline"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="compact"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="dark"], .dark {
  --bg-surface-lowest: var(--gray-950);
  --content-helper: var(--gray-500);
  --content-main: var(--gray-100);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-600);
  --outline-strong: var(--gray-200);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="default"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="light"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="light-mode"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="logistic-dark"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-500);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="logistic-light"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="mode-1"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="sale"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--sale-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="soniz"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--shoniz-500);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}

[data-theme="value"] {
  --bg-surface-lowest: var(--gray-25);
  --content-helper: var(--gray-575);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-575: #6e6e6e;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-spacing---2: 4px;
  --primitives-spacing-spacing---7: 16px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
}
