/* Variables used by Skeleton */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-low: #1f1f1f;
  --bg-surface-medium: #333333;
  --outline-weak: #1f1f1f;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --outline-weak: #ebebeb;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-3: 12px;
  --spacing-3-5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
}
