/* Variables used by Slider */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-950);
  --bg-page: var(--base-black);
  --bg-page-inverse: var(--base-white);
  --bg-surface-low: var(--gray-900);
  --bg-surface-medium: var(--gray-800);
  --content-disabled: var(--gray-700);
  --content-inverse: var(--base-black);
  --content-subtitle: var(--gray-400);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-600);
  --outline-disabled: var(--gray-950);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-500);
  --primary-hover: var(--logistic-600);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--sale-700);
  --primary-hover: var(--sale-800);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--shoniz-500);
  --primary-hover: var(--shoniz-600);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-page-inverse: var(--base-black);
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-disabled: var(--gray-400);
  --content-inverse: var(--base-white);
  --content-subtitle: var(--gray-600);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --leading-20: 20px;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --primary: var(--logistic-700);
  --primary-hover: var(--logistic-500);
  --radius-full: 500px;
  --radius-md: 6px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --text-xs: 12px;
}
