/* Variables used by Statistic */
/* Tailwind V4 */

:root {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-surface-low: var(--gray-900);
  --bg-surface-medium: var(--gray-800);
  --content-main: var(--gray-100);
  --content-subtitle: var(--gray-400);
  --feedback-error: var(--red-500);
  --feedback-error-bg: var(--red-950);
  --feedback-success: var(--green-500);
  --feedback-success-bg: var(--green-950);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-surface-low: var(--gray-50);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --feedback-error-bg: var(--red-50);
  --feedback-success: var(--green-700);
  --feedback-success-bg: var(--green-100);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --green-100: #dcfae6;
  --green-500: #17b26a;
  --green-700: #067647;
  --green-950: #074d31;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-30: 30px;
  --leading-40: 40px;
  --radius-full: 500px;
  --radius-sm: 4px;
  --red-50: #fef3f2;
  --red-500: #f04438;
  --red-600: #d92d20;
  --red-950: #4a0508;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-sm: 14px;
  --text-xs: 12px;
}
