/* Variables used by Steps / Layout */
/* Tailwind V4 */

:root {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-disabled: #141414;
  --bg-surface-low: #1f1f1f;
  --bg-surface-medium: #333333;
  --content-disabled: #4d4d4d;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #863bff;
  --primary-hover: #7d14ff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #ba4914;
  --primary-hover: #943a18;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #5860fc;
  --primary-hover: #403af1;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-disabled: #d0d0d0;
  --bg-surface-low: #f2f2f2;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-placeholder: #757575;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-hover: #863bff;
  --primary-on: #ffffff;
  --radius-md: 6px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}
