/* Variables used by Steps Vertical */
/* Tailwind V4 */

:root {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-white: #ffffff;
  --content-disabled: var(--gray-700);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-container-press: var(--logistic-800);
  --primary-hover: var(--logistic-600);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-container-press: var(--sale-800);
  --primary-hover: var(--sale-800);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-container-press: var(--shoniz-800);
  --primary-hover: var(--shoniz-600);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-white: #ffffff;
  --content-disabled: var(--gray-400);
  --content-placeholder: var(--gray-550);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-550: #757575;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-600: #7d14ff;
  --logistic-700: #7700ff;
  --logistic-800: #6401d6;
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container-press: var(--logistic-300);
  --primary-hover: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-full: 500px;
  --sale-700: #ba4914;
  --sale-800: #943a18;
  --shoniz-500: #5860fc;
  --shoniz-600: #403af1;
  --shoniz-800: #2c27ac;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --static-white: var(--base-white);
  --text-sm: 14px;
  --text-xs: 12px;
}
