/* Variables used by _Sub menu Items */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-low: var(--gray-900);
  --content-disabled: var(--gray-700);
  --content-main: var(--gray-100);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-100);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-500);
  --primary-container: var(--logistic-950);
  --primary-container-on: var(--logistic-300);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--sale-700);
  --primary-container: var(--sale-950);
  --primary-container-on: var(--sale-300);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--shoniz-500);
  --primary-container: var(--shoniz-950);
  --primary-container-on: var(--shoniz-300);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-low: var(--gray-50);
  --content-disabled: var(--gray-400);
  --content-main: var(--gray-900);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-24: 24px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --radius-lg: 8px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-4: 16px;
  --text-sm: 14px;
}
