/* Variables used by Tab / Item */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-low: #1f1f1f;
  --content-disabled: #4d4d4d;
  --content-main: #ebebeb;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #863bff;
  --primary-container: #330077;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #ba4914;
  --primary-container: #40170a;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #5860fc;
  --primary-container: #19174f;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-low: #f2f2f2;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-20: 20px;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
