/* Variables used by Tab / Compact */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-medium: var(--gray-800);
  --content-main: var(--gray-100);
  --content-title: var(--gray-300);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-500);
  --primary-container: var(--logistic-950);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--sale-700);
  --primary-container: var(--sale-950);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--shoniz-500);
  --primary-container: var(--shoniz-950);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-medium: var(--gray-100);
  --content-main: var(--gray-900);
  --content-title: var(--gray-700);
  --focus-ring: var(--primary);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-300: #d0d0d0;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --leading-20: 20px;
  --logistic-100: #ebe4ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --radius-sm: 4px;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-0-5: 2px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --text-sm: 14px;
  --text-xs: 12px;
}
