/* Variables used by Tag */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-lowest: var(--gray-950);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-100);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-100);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-400);
  --tag-blue-content: var(--blue-tag-150);
  --tag-blue-outline: var(--blue-tag-300);
  --tag-cyan-bg: var(--cyan-tag-400);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-300);
  --tag-gold-bg: var(--gold-tag-400);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-300);
  --tag-gray-outline: var(--gray-800);
  --tag-green-bg: var(--green-tag-400);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-300);
  --tag-magenta-bg: var(--magenta-tag-400);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-300);
  --tag-orange-bg: var(--orange-tag-400);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-300);
  --tag-pink-bg: var(--pink-tag-400);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-300);
  --tag-purple-bg: var(--purple-tag-400);
  --tag-purple-content: var(--purple-tag-300);
  --tag-purple-outline: var(--purple-tag-300);
  --tag-red-bg: var(--red-tag-400);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-300);
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --blue-tag-100: #b2ddff;
  --blue-tag-150: #4a90ff;
  --blue-tag-200: #175cd3;
  --blue-tag-300: #002a6e;
  --blue-tag-400: #001433;
  --blue-tag-50: #eff8ff;
  --content-main: var(--gray-900);
  --cyan-tag-100: #bcf6f6;
  --cyan-tag-200: #20b0cc;
  --cyan-tag-300: #006666;
  --cyan-tag-400: #003333;
  --cyan-tag-50: #e6ffff;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gold-tag-100: #ffe6b3;
  --gold-tag-200: #c38100;
  --gold-tag-300: #6b4700;
  --gold-tag-400: #332200;
  --gold-tag-50: #fffceb;
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --green-tag-100: #abefc6;
  --green-tag-200: #12a96a;
  --green-tag-300: #005e34;
  --green-tag-400: #001a0e;
  --green-tag-50: #ecfdf3;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --magenta-tag-100: #ffccea;
  --magenta-tag-200: #ff0096;
  --magenta-tag-300: #4a002c;
  --magenta-tag-400: #290018;
  --magenta-tag-50: #fff5f9;
  --orange-tag-100: #ffdfcc;
  --orange-tag-200: #ff6200;
  --orange-tag-300: #5c2300;
  --orange-tag-400: #331400;
  --orange-tag-50: #fff4e6;
  --pink-tag-100: #f9d6ff;
  --pink-tag-200: #d400ff;
  --pink-tag-300: #550066;
  --pink-tag-400: #2a0033;
  --pink-tag-50: #fdf0ff;
  --purple-tag-100: #d9ccff;
  --purple-tag-200: #974cff;
  --purple-tag-300: #400099;
  --purple-tag-400: #150033;
  --purple-tag-50: #f4f0ff;
  --radius-full: 500px;
  --radius-md: 6px;
  --red-tag-100: #ffdad6;
  --red-tag-200: #ff1500;
  --red-tag-300: #5c0800;
  --red-tag-400: #330400;
  --red-tag-50: #fff1f0;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: var(--blue-tag-50);
  --tag-blue-content: var(--blue-tag-200);
  --tag-blue-outline: var(--blue-tag-100);
  --tag-cyan-bg: var(--cyan-tag-50);
  --tag-cyan-content: var(--cyan-tag-200);
  --tag-cyan-outline: var(--cyan-tag-100);
  --tag-gold-bg: var(--gold-tag-50);
  --tag-gold-content: var(--gold-tag-200);
  --tag-gold-outline: var(--gold-tag-100);
  --tag-gray-outline: var(--gray-100);
  --tag-green-bg: var(--green-tag-50);
  --tag-green-content: var(--green-tag-200);
  --tag-green-outline: var(--green-tag-100);
  --tag-magenta-bg: var(--magenta-tag-50);
  --tag-magenta-content: var(--magenta-tag-200);
  --tag-magenta-outline: var(--magenta-tag-100);
  --tag-orange-bg: var(--orange-tag-50);
  --tag-orange-content: var(--orange-tag-200);
  --tag-orange-outline: var(--orange-tag-100);
  --tag-pink-bg: var(--pink-tag-50);
  --tag-pink-content: var(--pink-tag-200);
  --tag-pink-outline: var(--pink-tag-100);
  --tag-purple-bg: var(--purple-tag-50);
  --tag-purple-content: var(--purple-tag-200);
  --tag-purple-outline: var(--purple-tag-100);
  --tag-red-bg: var(--red-tag-50);
  --tag-red-content: var(--red-tag-200);
  --tag-red-outline: var(--red-tag-100);
  --text-xs: 12px;
}
