/* Variables used by Tag */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-lowest: #141414;
  --content-main: #ebebeb;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #001433;
  --tag-blue-content: #4a90ff;
  --tag-blue-outline: #002a6e;
  --tag-cyan-bg: #003333;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #006666;
  --tag-gold-bg: #332200;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #6b4700;
  --tag-gray-outline: #333333;
  --tag-green-bg: #001a0e;
  --tag-green-content: #12a96a;
  --tag-green-outline: #005e34;
  --tag-magenta-bg: #290018;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #4a002c;
  --tag-orange-bg: #331400;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #5c2300;
  --tag-pink-bg: #2a0033;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #550066;
  --tag-purple-bg: #150033;
  --tag-purple-content: #400099;
  --tag-purple-outline: #400099;
  --tag-red-bg: #330400;
  --tag-red-content: #ff1500;
  --tag-red-outline: #5c0800;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-lowest: #f7f7f7;
  --content-main: #1f1f1f;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --radius-full: 500px;
  --radius-md: 6px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --tag-blue-bg: #eff8ff;
  --tag-blue-content: #175cd3;
  --tag-blue-outline: #b2ddff;
  --tag-cyan-bg: #e6ffff;
  --tag-cyan-content: #20b0cc;
  --tag-cyan-outline: #bcf6f6;
  --tag-gold-bg: #fffceb;
  --tag-gold-content: #c38100;
  --tag-gold-outline: #ffe6b3;
  --tag-gray-outline: #ebebeb;
  --tag-green-bg: #ecfdf3;
  --tag-green-content: #12a96a;
  --tag-green-outline: #abefc6;
  --tag-magenta-bg: #fff5f9;
  --tag-magenta-content: #ff0096;
  --tag-magenta-outline: #ffccea;
  --tag-orange-bg: #fff4e6;
  --tag-orange-content: #ff6200;
  --tag-orange-outline: #ffdfcc;
  --tag-pink-bg: #fdf0ff;
  --tag-pink-content: #d400ff;
  --tag-pink-outline: #f9d6ff;
  --tag-purple-bg: #f4f0ff;
  --tag-purple-content: #974cff;
  --tag-purple-outline: #d9ccff;
  --tag-red-bg: #fff1f0;
  --tag-red-content: #ff1500;
  --tag-red-outline: #ffdad6;
  --text-xs: 12px;
}
