/* Variables used by Time Picker */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-high: #4d4d4d;
  --content-main: #ebebeb;
  --content-subtitle: #b3b3b3;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #666666;
  --outline-weak: #1f1f1f;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #863bff;
  --primary-container: #330077;
  --primary-container-on: #bfa6ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #ba4914;
  --primary-container: #40170a;
  --primary-container-on: #f7bd7a;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #5860fc;
  --primary-container: #19174f;
  --primary-container-on: #9eb1ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-high: #e0e0e0;
  --content-main: #1f1f1f;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --numbers-4: 4px;
  --outline-default: #8c8c8c;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-container: #ebe4ff;
  --primary-container-on: #7700ff;
  --primary-on: #ffffff;
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}
