/* Variables used by Time Picker */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-high: var(--gray-700);
  --content-main: var(--gray-100);
  --content-subtitle: var(--gray-400);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-100);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-600);
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-container: var(--logistic-950);
  --primary-container-on: var(--logistic-300);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-container: var(--sale-950);
  --primary-container-on: var(--sale-300);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-container: var(--shoniz-950);
  --primary-container-on: var(--shoniz-300);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-high: var(--gray-200);
  --content-main: var(--gray-900);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-weight-semibold: SemiBold;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --leading-36: 36px;
  --logistic-100: #ebe4ff;
  --logistic-300: #bfa6ff;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --logistic-950: #330077;
  --numbers-4: 4px;
  --outline-default: var(--gray-500);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-container: var(--logistic-100);
  --primary-container-on: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-2xl: 16px;
  --radius-full: 500px;
  --radius-lg: 8px;
  --radius-none: 0px;
  --radius-radius---2: 8px;
  --radius-xl: 12px;
  --sale-300: #f7bd7a;
  --sale-700: #ba4914;
  --sale-950: #40170a;
  --shoniz-300: #9eb1ff;
  --shoniz-500: #5860fc;
  --shoniz-950: #19174f;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-2-5: 10px;
  --spacing-4: 16px;
  --spacing-spacing-4: var(--numbers-4);
  --text-2xl: 24px;
  --text-sm: 14px;
  --text-xs: 12px;
}
