/* Variables used by _Transfer / Panel */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --content-main: var(--gray-100);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-400);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-100);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-600);
  --outline-strong: var(--gray-200);
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-400: #b3b3b3;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --radius-lg: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
