/* Variables used by Transfer */
/* Tailwind V4 */

:root {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --bg-page: #020202;
  --bg-surface-medium: #333333;
  --content-disabled: #4d4d4d;
  --content-main: #ebebeb;
  --content-placeholder: #757575;
  --content-subtitle: #b3b3b3;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #ebebeb;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #666666;
  --outline-strong: #e0e0e0;
  --outline-weak: #1f1f1f;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #863bff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #ba4914;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #5860fc;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --bg-page: #ffffff;
  --bg-surface-medium: #ebebeb;
  --content-disabled: #b3b3b3;
  --content-main: #1f1f1f;
  --content-placeholder: #757575;
  --content-subtitle: #666666;
  --font-weight-medium: Medium;
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --icon-main: #1f1f1f;
  --icon-subtle: #8c8c8c;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --outline-default: #8c8c8c;
  --outline-strong: #333333;
  --outline-weak: #ebebeb;
  --primary: #7700ff;
  --primary-on: #ffffff;
  --radius-lg: 8px;
  --radius-radius---2: 8px;
  --radius-radius-none: 0px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-spacing---2: 4px;
  --spacing-spacing-none: 0px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
