/* Variables used by Tree Select */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-950);
  --bg-page: var(--base-black);
  --bg-surface-lowest: var(--gray-950);
  --content-main: var(--gray-100);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-400);
  --feedback-error: var(--red-500);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-700);
  --icon-main: var(--gray-100);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-600);
  --outline-disabled: var(--gray-950);
  --outline-strong: var(--gray-200);
  --outline-weak: var(--gray-900);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-800);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-500);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--sale-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--shoniz-500);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-disabled: var(--gray-300);
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --content-placeholder: var(--gray-550);
  --content-subtitle: var(--gray-600);
  --feedback-error: var(--red-600);
  --focus-ring: var(--primary);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-200: #e0e0e0;
  --gray-25: #f7f7f7;
  --gray-300: #d0d0d0;
  --gray-400: #b3b3b3;
  --gray-50: #f2f2f2;
  --gray-500: #8c8c8c;
  --gray-550: #757575;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-disabled: var(--gray-400);
  --icon-main: var(--gray-900);
  --icon-subtle: var(--gray-500);
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --logistic-500: #863bff;
  --logistic-700: #7700ff;
  --outline-default: var(--gray-500);
  --outline-disabled: var(--gray-50);
  --outline-strong: var(--gray-800);
  --outline-weak: var(--gray-100);
  --primary: var(--logistic-700);
  --primary-on: var(--base-white);
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --red-500: #f04438;
  --red-600: #d92d20;
  --sale-700: #ba4914;
  --shoniz-500: #5860fc;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --tag-gray-outline: var(--gray-100);
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
