/* Variables used by Tree view */
/* Tailwind V4 */

:root {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}
[data-theme="baseline"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="compact"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="dark"], .dark {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-black);
  --bg-surface-lowest: var(--gray-950);
  --content-main: var(--gray-100);
  --feedback-info: var(--inventory-500);
  --feedback-info-bg: var(--inventory-950);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-100);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-800);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="default"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="light-mode"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-dark"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="logistic-light"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="mode-1"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="sale"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="soniz"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}

[data-theme="value"] {
  --base-black: #020202;
  --base-white: #ffffff;
  --bg-page: var(--base-white);
  --bg-surface-lowest: var(--gray-25);
  --content-main: var(--gray-900);
  --feedback-info: var(--inventory-600);
  --feedback-info-bg: var(--inventory-100);
  --feedback-info-hover: var(--inventory-500);
  --font-weight-normal: Regular;
  --font-font: "Vazirmatn";
  --gray-100: #ebebeb;
  --gray-25: #f7f7f7;
  --gray-800: #333333;
  --gray-900: #1f1f1f;
  --gray-950: #141414;
  --icon-main: var(--gray-900);
  --inventory-100: #d6eaff;
  --inventory-500: #1e83ff;
  --inventory-600: #0665ff;
  --inventory-950: #0e265d;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --tag-gray-outline: var(--gray-100);
  --text-sm: 14px;
  --text-xs: 12px;
}
